<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- CSS -->
<link href="#springUrl('')/static/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
<link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeIcons.css')" rel="stylesheet" type="text/css"/>
<link href="#springUrl('')/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css" rel="stylesheet" type="text/css"/>
<!-- JavaScript -->
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<input  type="hidden" id="source" value="$!{source}"/>
<script type="text/javascript" src="#springUrl('')/js/system/address_position.js"></script>
<style>
    ul.ztree {
        height: 500px;
        overflow : auto;
    }
    .dataTables_length{
        /*display : none;*/
    }
    .row-fluid .span11 {
        width: 97.453%;
    }
</style>
<div id="mainPanel" >

    <table width="100%" border="0">
        <tr>
            <td valign="top" rowspan="3" id="tree_org" style="display:none">
                <ul id="orgTree" class="ztree"></ul>
            </td>
            <td>
                <div class="form-horizontal" display="">
                    <div style="float:left;height:30px" >
                        <a href="#" id="tree_open_arrow"><img width="10" border="0" id="leftimg" src="/static/admin/skin/img/tabs_rightarrow.png"></a></div>
                    <div class="control-group" style="text-align:left">
                        <label class="control-label" style="width:70px;">岗位：</label>
                        <div class="controls" style="margin-left:0;">
                            <label ><input id="positionName" type="text"  width="100px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="searchPosition" type="button" class="btn" value="搜索" /></label>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
                <div style="border:0px solid gray;width:100%" >
                    <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="orgPositionDataTable" ></table>
                </div>
            </td>
        </tr>
    </table>
</div>
