#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/system/auth_expression_list.js')"></script>

<div><input id="expression" type="text" class="input-medium"/><input id="search" type="button" class="btn input-medium"  value="查询表达式"/></div>

<div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display" id="example">
 <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>部门</th>
      <th>职位</th>
     <th>职级</th>
     <th>操作</th>
    </tr>
  </thead>
</table>
</div>

