<head>
	<link rel="stylesheet" href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" type="text/css">
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css')" rel="stylesheet" type="text/css" />
	 
	<style type="text/css">
        .text_left {
			text-align: left;
		}
    </style>
	<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
	<script>
		var baseUrl = "#springUrl('')", springUrl = baseUrl;
		var treeNode = ${treeNode};
	</script>
	<script type="text/javascript" src="#springUrl('/js/system/privilege.js')"></script>
</head>

<body>
	<div style="width:100%;height:500px;">
     	<table width="100%" height="100%" border=0>
     		<tr>
     			<td width="35%" valign="top">
     				<div style="width:200px;border:0px solid #9C9A31;overflow:no;">
						<ul id="privTree" class="ztree"></ul>
     				</div>
     			</td>
     			<td width="65%" valign="top" align="right">
     				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display" id="privTable" width="100%">
    				</table>
     			</td>
     		</tr>
     	</table>
	</div>
</body>