#set($layout = "layout/null.vm")

<link href="#springUrl('/static/bootstrap/css/bootstrap-duallistbox.css')" rel="stylesheet" type="text/css"/>


<script type="text/javascript" src="#springUrl('/static/bootstrap/js/jquery.bootstrap-duallistbox.js')"></script>
<script type="text/javascript" src="#springUrl('/js/system/userRole_update.js')"></script>

<div id="userRole_update" style="visibility: hidden;">
    <input type="hidden" id="userId" name="userId"  value="$!{Id}"  />

    <p > <strong>用户：  $!{user.realName}</strong></p>
    <div class="row center" >
        <div  class="span8">
            <form id="demoform" action="#" method="post" >
                <select multiple="multiple" size="13" name="duallistbox_demo1[]">
                    #foreach($!role in $!{roleList})
                        <option value="$!{role.Id}" >$!{role.roleType}--$!{role.roleName}</option>
                    #end
                    #foreach($!userRole in $!{userRoleList})
                        <option value="$!{userRole.roleId}"  selected>$!{userRole.roleType}--$!{userRole.roleName}</option>
                    #end
                </select>
            </form>
        </div>
    </div>
</div>
<div style="padding-right: 10px; text-align: right;">
<button id="save"  onclick="javascript:saveUserRole();"  class="btn btn-success" >保存</button>
<button id="cancel"   class="btn btn-success" onclick="javascript:cancel();" >关闭</button>
</div>
  


