

/**********************************question************************************************************/
body{ margin:0px; font-size:12px; color:#666666;}
ul{ list-style-image:url(../img/wenhao.gif);}
img{border:none;}
a:link,a:visited{color:#999900; text-decoration:none;}
a:hover{color:#0099FF; text-decoration:underline;}
#div{}
#head{height:80px; text-align:center; font-size:22px; font-weight:bold; line-height:80px; border-bottom:1px dashed #c8c8c8; background:#fff;}
#body{height:auto;}
#tiwen{height:60px; line-height:60px; border:0px solid #c8c8c8; margin:px; background:#ffffff;}
#shuru{height:50px; width:60%; float:left; margin-top:5px; text-align:right; line-height:50px;}
#wen{height:50px; width:20%; float:left; margin-top:5px; text-align:center; line-height:50px;}
#chaxun{height:50px; width:20%; float:left; margin-top:5px;  line-height:50px;}
.clear{width:0px; height:0px; clear:both;}
.text{width:90%; height:30px; margin-top:10px; line-height:30px; }
.btn{width:80px; height:30px; margin-top:10px;}
#wenti{height:auto; margin:0px;  border:0px solid #c8c8c8; }
#wentilist{height:auto; margin-top:10px;  border:1px solid #c8c8c8;}
#ss{margin:20px; }
.ss_biao{ height:40px; line-height:40px; color:#990000; padding-left:20px; font-size:18px;}
.ss_nei{ height:auto; padding:5px;}
.ss_nei_wen{height:30px; font-weight:bold; font-size:14px;}
.ss_nei_wen_left{width:70%;  line-height:30px; float:left;}
.ss_nei_wen_right{width:20%; text-align:left; float:right;}
.ss_nei_ti{height:auto; border-bottom:1px dotted #c8c8c8;}
.list_biao{ height:40px; line-height:40px; color:#990000; padding-left:20px; font-size:18px;}
.list_nei{height:auto; padding:0px;}
.list_nei_wen{height:30px; font-weight:bold; font-size:14px;}
.list_nei_ti{height:auto; border-bottom:1px dotted #c8c8c8;} 
.weizhaodao{height:100px; text-align:center; background:#ffffff; padding-top:20px; }
/**********************************rank**************************************************************/
.bang{width:24%; margin:1px; float:left;  text-align:center; border:0px solid #000;}
.bang1{width:25%; height:800px; border-right:1px solid #c8c8c8; float:left; margin-top:20px;}
.bang2{width:25%; height:800px; border-right:1px solid #c8c8c8; float:left; margin-top:20px;}
.bang3{width:24%; height:800px;  float:left; margin-top:20px;}
.bang_biao{height:30px; font-size:16px; font-weight:bold; border-bottom:1px dashed #c8c8c8; line-height:30px; }
.bang_kid{height:70px;  }
.bang_kid_img{ min-width:70px; float:left; }
.bang_kid_zi{min-width:100px; float:left;}
.bang_kid_zi_top{height:40px; line-height:40px;}
.bang_kid_zi_bot{height:30px; }
.bang_kid img{width:50px; height:50px; margin:10px; float:none;}
.tab{ border-left:1px solid #c8c8c8; border-right:1px solid #c8c8c8; border-bottom:1px solid #c8c8c8;}

/*********************************suoyin***************************************************************/
.xit{height:30px; margin-top:10px; text-align:center;line-height:30px; font-size:14px;}
.leib{height:30px; margin-top:10px; text-align:center;line-height:30px; font-size:14px;}
.zimu{height:30px; margin-top:10px; text-align:center;line-height:30px; font-size:14px;}
.sous{height:50px; margin-top:10px; text-align:center;line-height:50px; font-size:14px;}
.sous_left{width:70%; float:left; height:50px; line-height:50px; text-align:right;}
.sous_right{width:28%; float:right; height:50px; line-height:50px; text-align:left;}
.ruanj{height:600px; margin-top:10px; border:1px solid #c8c8c8; background:#fff; text-align:center;}
.text2{width:60%; height:30px; margin-top:10px; line-height:30px; }
.btn2{width:80px; height:30px; margin-top:10px;}
.kid{width:180px; height:180px; float:left; margin:0px; border:solid 1px #fff;}
.kid:hover{background:#EFFDFE; border:solid 1px  #EAEAEA;}
.kid img{width:50px; height:50px; margin:25px 65px 5px 65px;}
.page{height:50px; line-height:50px; text-align:center; font-size:12px;  border-top:1px dashed #c8c8c8;}
.center{text-align:center;}