body{margin:0px; padding:0px; font-size:14px; font-family:Arial, Helvetica, sans-serif; }
img{border:0px;}
table{border-collapse:collapse;}
a:link{color:#000; text-decoration:none}
a:visited{color:#000; text-decoration:none}
a:hover{color:#000; text-decoration:none}
a:active{color:#000; text-decoration:none}
.clear{clear:both;}
ul{list-style:none;}
/*html{overflow:hidden;}*/



.btn-newsoft-down{width:90px; height:41px; border:0px; background:url(../img_zizhu2/btn-bg.png) no-repeat; cursor:pointer;}
.btn-jixing-queding{width:222px; height:50px; border:0px; background:url(../img_zizhu2/jixing-btn-bg.png) no-repeat; cursor:pointer;}
.btn-info-back{width:80px; height:39px; border:0px; background:url(../img_zizhu2/back-bg.png) no-repeat; cursor:pointer;}
.btn-info-xiazai{width:100px; height:50px; border:0px; background:url(../img_zizhu2/info-btn.png) no-repeat; cursor:pointer;}
.page-left{width:37px; height:40px; background:url(../img_zizhu2/btn-zuo1.png) no-repeat; position:absolute; left:-40px; top:50%; margin-top:-20px;}
.page-left a{display:block;}
.page-left a:hover{background:url(../img_zizhu2/btn-zuo2.png) no-repeat;}
.page-right{width:37px; height:40px; background:url(../img_zizhu2/btn-you1.png) no-repeat; position:absolute; right:-40px; top:50%; margin-top:-20px;}
.page-right a{display:block;}
.page-right a:hover{background:url(../img_zizhu2/btn-you2.png) no-repeat;}
.page-left1{width:37px; height:40px; background:url(../img_zizhu2/btn-zuo1.png) no-repeat; position:absolute; left:40px; top:50%; margin-top:-20px;}
.page-left1 a{display:block;}
.page-left1 a:hover{background:url(../img_zizhu2/btn-zuo2.png) no-repeat;}
.page-right1{width:37px; height:40px; background:url(../img_zizhu2/btn-you1.png) no-repeat; position:absolute; right:40px; top:50%; margin-top:-20px;}
.page-right1 a{display:block;}
.page-right1 a:hover{background:url(../img_zizhu2/btn-you2.png) no-repeat;}

.btn-gouxuan{width:90px; height:41px; border:0; padding:0; margin:0; background:url(../img_zizhu2/btn-gouxuan.png) no-repeat; cursor:pointer;}
.btn-gouxuan1{width:90px; height:41px; border:0; padding:0; margin:0; background:url(../img_zizhu2/btn-gouxuan1.png) no-repeat; cursor:pointer;}
.btn-gouxuan2{width:90px; height:41px; border:0; padding:0; margin:0; background:url(../img_zizhu2/btn-gouxuan2.png) no-repeat; cursor:pointer;}

.gouxuananzhuang{width:80px; height:40px; position:absolute; top:10px; left:0;}



.jixing-zimu-pic-sel{width:121px; height:178px; background:url(../img_zizhu2/jixing-bg-sel.png) no-repeat; margin:0px auto;}
.jixing-zimu-pic-sel img{height:130px; width:80px; margin:7px 20px 0px 21px;}
.wo-nav-kid-sel{width:80px; height:60px; color:#9d1c1c; line-height:60px; font-size:22px; font-weight:bold; text-align:center;  background:url(../img_zizhu2/wo-nav.png) no-repeat top;}
.wo-nav-kid-sel a:link{color:#9d1c1c;}
.wo-nav-kid-sel a:visited{color:#9d1c1c;}
.wo-nav-kid-sel a:hover{color:#9d1c1c;}
.newsoft-nav-kid-sel{width:89px; height:60px;  line-height:60px; font-size:20px; font-weight:bold; text-align:center; margin:0px 10px; float:left; background:url(../img_zizhu2/wo-nav.png) no-repeat top;}
.newsoft-nav-kid-sel a:link{color:#9d1c1c; }
.newsoft-nav-kid-sel a:visited{color:#9d1c1c;}
.newsoft-nav-kid-sel a:hover{color:#9d1c1c; }
.btn-newsoft-down-sel{width:90px; height:41px; border:0px; background:url(../img_zizhu2/btn-bg-sel.png) no-repeat; cursor:pointer;}
.btn-jixing-queding-sel{width:222px; height:50px; border:0px; background:url(../img_zizhu2/jixing-btn-bg-sel.png) no-repeat; cursor:pointer;}
.btn-info-xiazai-sel{width:100px; height:50px; border:0px; background:url(../img_zizhu2/info-btn-sel.png) no-repeat; cursor:pointer;}
.btn-info-back-sel{width:80px; height:39px; border:0px; background:url(../img_zizhu2/back-bg-sel.png) no-repeat; cursor:pointer;}
.changshang-pic-sel{width:171px; height:169px; background:url(../img_zizhu2/changshang-bg-sel.png) no-repeat; margin:0px auto;}








.changshang{width:1040px;  margin:0px auto;}
.changshang-t{padding:10px 0px; text-align:center;}
.changshang-tt{margin-bottom:20px; text-align:center;}
.changshang-nei{width:940px; margin:0px auto; }
.changshang-kid{width:235px; height:177px;  position:relative; float:left; margin-bottom:30px; margin-top:5px; background:url(../img_zizhu2/changshang-bg.png) no-repeat center; }
.changshang-pic{width:171px; height:169px; margin:0px auto;}
.changshang-pic img{width:125px; height:125px; margin:22px 23px;}





.jixing{width:1040px;  margin:0px auto;}
.jixing-t{padding-top:20px; margin-bottom:20px; text-align:center;}
.jixing-nei{width:940px; margin:0px auto;}
.jixing-zimu{margin-bottom:30px;}
.jixing-zimu-nei{ height:178px; position:relative; }
.jixing-zimu-nei ul{margin-left:-40px;}
.jixing-zimu-fen{}
.jixing-zimu-kid{width:156px; height:178px; float:left;}
.jixing-zimu-pic{width:121px; height:178px; background:url(../img_zizhu2/jixing-bg.png) no-repeat; margin:0px auto;}
.jixing-zimu-pic img{height:130px; width:80px; margin:7px 20px 0px 21px;}
.jixing-zimu-name{height:25px; line-height:25px; text-align:center;}
.jixing-xia{}
.jixing-xinghao{width:624px; float:left; position:relative; }
.jixing-xinghao ul{margin-left:-40px;}
.jixing-xinghao-kid{width:156px; height:178px; float:left; margin:20px 0px;}
.jixing-xinghao-pic{width:121px; height:178px; background:url(../img_zizhu2/jixing-bg.png) no-repeat; margin:0px auto;}
.jixing-xinghao-pic img{height:130px; width:80px; margin:7px 20px 0px 21px;}
.jixing-xinghao-name{height:25px; line-height:25px; text-align:center; padding:0px 8px; overflow:hidden;}
.jixing-tu{width:240px; float:right; padding-top:190px}
.jixing-tu-pic{width:240px; height:340px; margin:0px auto;}
.jixing-tu-pic img{width:240px; height:340px; }
.jixing-tu-name{height:20px; line-height:20px; text-align:center; overflow:hidden; font-size:14px; font-weight:bold;}
.jixing-tu-queding{margin-top:20px; text-align:center;}








.newsoft{width:1040px;  margin:0px auto; }
.newsoft-t{margin:15px 0px; text-align:center; padding-bottom:20px;}
.newsoft-nei{width:940px; margin:0px auto; position:relative; }
.newsoft-kid{width:188px; height:168px; float:left; margin-bottom:6px; }
.newsoft-icon{width:91px; height:70px; background:url(../img_zizhu2/icon-bg.png) no-repeat; margin:0px auto; position:relative;}
.newsoft-icon img{width:58px; height:58px; margin:4px 16px auto 17px;}


.newsoft-check{position:absolute; top:0; left:0; }
.inputcheck{margin:0;  padding:0;}


.newsoft-kid-name{height:28px; text-align:center; overflow:hidden; line-height:28px; padding:0px 10px; }
.newsoft-kid-lei{height:20px; line-height:20px; text-align:center; color:#666;}
.newsoft-down{width:90px; height:41px; margin:0px auto; position:relative;}
.newsoft-down-shade{width:101px; height:23px; position:absolute; bottom:-9px; left:-6px; background:url(../img_zizhu2/btn-shade.png) no-repeat; z-index:-1;}

.newsoft-nav{width:1040px; position:relative; margin:0px auto;}
.newsoft-nav-kid{width:89px; height:60px;  line-height:60px; font-size:20px; font-weight:bold; text-align:center; margin:0px 10px; float:left;}
.newsoft-nav-kid a{display:block;}
.newsoft-nav-kid a:link{color:#000; text-decoration:none;}
.newsoft-nav-kid a:visited{color:#000; text-decoration:none;}
.newsoft-nav-kid a:hover{color:#9d1c1c; text-decoration:none;}




.info{width:1040px;  margin:0px auto; }
.info-back{width:119px; height:58px; position:absolute; top:0px; left:0px; z-index:999;}
.info-nei{width:940px; margin:80px auto;}
.info-left{width:468px; height:808px; border:1px solid #888; float:left;}
.info-jiben{height:360px; border-bottom:1px solid #888; padding:15px;}
.info-jiben-left{width:280px; float:left;}
.info-jiben-left-top{margin-bottom:20px;}
.info-jiben-icon{margin-top:30px; width:91px; height:100px; background:url(../img_zizhu2/icon-bg.png) no-repeat; margin-right:20px; position:relative;}
.info-jiben-icon img{width:58px; height:58px; margin:4px 16px auto 17px;}
.info-jiben-name{font-size:20px; font-weight:bold; margin-top:33px; }
.info-jiben-file{height:35px; line-height:35px; font-size:14px; overflow:hidden; padding-left:10px;}
.info-jiben-file-01{color:#666;}
.info-jiben-right{width:147px; float:right; margin-top:20px;}
.info-jiben-ewm{width:147px; margin-top:80px;}
.info-jiben-ewm img{width:147px; height:147px;}
.info-jiben-ewm-zi{font-size:14px; text-align:center;}
.info-jiben-xiazai{width:100px; margin:10px auto;}
.info-pic{height:400px; margin:10px;}
.info-pic-nei{overflow:auto; padding:10px; height:360px;}
.info-pic-nei img{ height:340px; margin:0px 15px 0 0;}
.info-right{float:left; width:469px;}
.info-intro{width:439px; height:497px; border-top:1px solid #888; border-right:1px solid #888; border-bottom:1px solid #888; padding:15px;}
.info-intro-title{color:#90302f; line-height:30px;  font-weight:bold;}
.info-intro-file{line-height:25px; text-indent:2em; height:465px; overflow:auto; }
.info-tui{width:439px; height:250px; margin-top:20px; margin-left:20px; border:1px solid #888; padding:5px;}
.info-tui-title{color:#90302f; line-height:30px; margin-bottom:20px; font-weight:bold; padding-left:10px;}
.info-tui-nei{}
.info-tui-kid{width:109px; height:180px; float:left; display:inline;}
.info-tui-icon{width:91px; height:70px; background:url(../img_zizhu2/icon-bg.png) no-repeat; margin:0px auto; position:relative;}
.info-tui-icon img{width:58px; height:58px; margin:4px 16px auto 17px;}

.info-tui-kid-name{height:30px; text-align:center; overflow:hidden; line-height:30px; }
.info-tui-kid-lei{height:30px; line-height:30px; text-align:center; color:#666;}
.info-tui-down{width:90px; height:41px; margin:0px auto; position:relative;}
.info-tui-down-shade{width:101px; height:23px; position:absolute; bottom:-9px; left:-6px; background:url(../img_zizhu2/btn-shade.png) no-repeat; z-index:-1;}






.wo-nav{margin-bottom:0px; background:#f60}
.wo-nav-kid{width:80px; height:60px;  line-height:60px; font-size:20px; font-weight:bold; text-align:center; margin:0px; }
.wo-nav-kid a{display:block;}
.wo-nav-kid a:link{color:#000; text-decoration:none;}
.wo-nav-kid a:visited{color:#000; text-decoration:none;}
.wo-nav-kid a:hover{color:#9d1c1c; text-decoration:none; }
/*.wo-nav-kid:hover{width:89px; height:80px;  line-height:80px; font-size:22px; font-weight:bold; text-align:center;  background:url(../img_zizhu2/wo-nav.png) no-repeat top;}*/











