@charset "utf-8"; 

html {
	color: #333;
	background: #fff
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var
	{
	font: inherit
}

del,ins {
	text-decoration: none
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: baseline
}

sub {
	vertical-align: baseline
}

legend {
	color: #333
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0
}

ol,ul {
	list-style: none
}

:focus {
	outline: 0
}

a img {
	border: 0
}

img {
	vertical-align: middle
}

table {
	empty-cells: show
}

h1 {
	font: 20px "microsoft yahei", "\5b8b\4f53"
}

h2,h3 {
	font-size: 18px;
	font-family: "microsoft yahei"
}

.clr {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-table
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

*+html .clearfix {
	min-height: 1%
}

.overflow {
	overflow: hidden
}

.ml5 {
	margin-left: 5px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.ml10 {
	margin-left: 10px
}

.mt10 {
	margin-top: 10px
}

.mb10 {
	margin-bottom: 10px
}

.mt20 {
	margin-top: 20px
}

.mb20 {
	margin-bottom: 20px
}

.pr100 {
	padding: 0 100px 0 0
}

.t-c {
	text-align: center
}

.t-l {
	text-align: left
}

.t-r {
	text-align: right
}

.fl {
	float: left
}

.fr {
	float: right
}

.w700 {
	width: 700px
}

.w900 {
	width: 900px
}

.w1000 {
	width: 1000px
}

.w1500 {
	width: 1500px
}

.w2000 {
	width: 2000px
}

body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	background: #fff;
	_background-image: url(about:blank);
	_background-attachment: fixed
}

a {
	color: #4e84b7;
	text-decoration: none
}

.font-green {
	color: #5bb6a7
}

.font-blue {
	color: #4e84b7
}

.font-gray {
	color: #949495
}

.font-yellow {
	color: #f69710
}

.font-hyellow {
	color: #f08818
}

.font-skyblue {
	color: #5cb0f1
}

.bg-gray {
	
}

.btn-box {
	clear: both;
	padding-top: 10px
}

.btn {
	display: inline-block;
	padding: 10px 33px;
	border: 0;
	border-radius: 5px;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer
}

.btn-m {
	padding: 10px 20px
}

.btn-s {
	padding: 10px
}

.btn-mini {
	padding: 5px 15px
}

.btn-green {
	background: #6bc1b4;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#6bc1b4),
		to(#67bfb1));
	background: -moz-linear-gradient(top, #6bc1b4, #67bfb1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6bc1b4',
		endColorstr='#67bfb1');
	color: #fff
}

.btn-green:hover {
	background: #87cdc1;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#87cdc1),
		to(#84ccc0));
	background: -moz-linear-gradient(top, #87cdc1, #84ccc0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87cdc1',
		endColorstr='#84ccc0');
	text-decoration: none;
	cursor: pointer
}

.btn-yellow {
	background: #f7ab58;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7ab58),
		to(#f7a750));
	background: -moz-linear-gradient(top, #f7ab58, #f7a750);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ab58',
		endColorstr='#f7a750');
	color: #fff
}

.btn-yellow:hover {
	background: #f9bb78;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9bb78),
		to(#f9b873));
	background: -moz-linear-gradient(top, #f9bb78, #f9b873);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9bb78',
		endColorstr='#f9b873');
	color: #fff;
	text-decoration: none;
	cursor: pointer
}

.btn-gray {
	background: #fafafa;
	border: 1px solid #d1d1d1;
	color: #828283;
	padding: 9px 32px
}

.btn-gray.btn-m {
	padding: 9px 19px
}

.btn-gray.btn-s {
	padding: 9px
}

.btn-gray.btn-mini {
	padding: 5px 15px;
	font-weight: normal
}

.btn-gray:hover {
	border: 1px solid #828283
}

.btn-white {
	background: #fff;
	border: 1px solid #d2d2d2;
	color: #949495;
	padding: 9px 19px
}

.btn-white.btn-mini {
	padding: 5px 15px;
	font-weight: normal
}

.selected-tag {
	position: relative;
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 0 0 0 5px;
	padding: 3px 21px 2px 10px;
	border: 1px solid #d9d9d9;
	text-decoration: none;
	color: #949495;
	vertical-align: middle
}

.selected-tag b {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 11px;
	height: 11px;
	background: url(./images/20130828A.png) -47px -107px no-repeat
}

.selected-tag:hover {
	border: 1px solid #f7aa57
}

.selected-tag:hover b {
	background-position: -36px -107px
}

.required-tag {
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 0 0 0 5px;
	padding: 3px 10px 2px;
	border: 1px solid #d9d9d9;
	text-decoration: none;
	color: #949495;
	vertical-align: middle
}

.btn-add {
	position: relative;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 5px 8px 5px 20px;
	background: #f7a750;
	text-decoration: none;
	color: #fff;
	border-radius: 5px
}

.btn-add b {
	position: absolute;
	left: 7px;
	top: 7px;
	display: block;
	width: 10px;
	height: 10px;
	background: url(./images/20130828A.png) -15px -107px no-repeat
}

.btn-add-white {
	padding: 4px 8px 4px 20px;
	background: #fff;
	border: 1px solid #d2d2d2;
	color: #828283
}

.bnt-add-yellow {
	background: #f7a750
}

.btn-add-yellow b {
	background-position: -26px -107px
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center
}

.grid {
	min-width: 750px;
	clear: both;
	background-color: #fff;
	table-layout: fixed;
	border: solid #cfcfcf;
	border-width: 1px 1px 0;
	font-size: 12px
}

.grid th,.grid td {
	height: 50px;
	border-bottom: 1px solid #cfcfcf;
	padding: 0 5px
}

.grid th {
	border-left: 1px solid #d7d7d7;
	font-weight: normal;
	text-align: center
}

.grid thead {
	background: #fafafa;
	color: #949495
}

.grid thead th,.grid thead td {
	height: 32px
}

.grid tbody td,.grid tbody th {
	word-wrap: break-word
}

.grid tbody tr:hover {
	background: #f0f0f0
}

.grid-b0 {
	border: 0;
	text-align: left;
	background: 0
}

.grid-b0 th,.grid-b0 td {
	border: 0
}

.grid-b0 tbody tr:hover {
	background: 0
}

.page {
	clear: both;
	height: 29px;
	line-height: 29px;
	padding: 10px 0
}

.page a {
	float: left;
	height: 27px;
	line-height: 27px;
	display: inline-block;
	padding: 0 10px;
	margin: 0 5px 0 0;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #e1e1e1;
	margin-left: -1px;
	color: #343434
}

.page .pre {
	margin-left: 0
}

.page .pre,.page .next {
	overflow: hidden
}

.page .pre span,.page .next span {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	border: 0;
	padding: 0;
	font-weight: bold;
	color: #ccc
}

.page a:hover {
	text-decoration: none
}

.page span {
	vertical-align: top;
	line-height: 26px
}

.page .apostrophe {
	float: left;
	padding: 0 3px
}

.page a.current {
	color: #66beb2;
	border: 0;
	heihgt: 29px;
	line-height: 29px
}

.page .btn {
	font-weight: normal;
	padding: 0 10px
}

.page-top {
	background: 0;
	border: 0;
	text-indent: 0;
	font-size: 12px
}

.page .itxt-4 {
	height: 26px;
	line-height: 26px;
	width: 40px;
	border: 1px solid #e1e1e1;
	margin: 0 5px;
	vertical-align: middle
}

.thickframe {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000000;
	width: 100%;
	height: 100%;
	background: #000;
	border: 0;
	filter: alpha(opacity = 0);
	opacity: 0
}

.thickdiv {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000001;
	width: 100%;
	height: 100%;
	background: #000;
	border: 0;
	filter: alpha(opacity = 15);
	opacity: .15
}

.thickbox {
	position: relative;
	z-index: 10000002;
	overflow: hidden;
	padding: 0;
	border: 1px solid #c4c4c4;
	-moz-box-shadow: 0 0 27px #ddd;
	-webkit-box-shadow: 0 0 27px #ddd;
	box-shadow: 0 0 27px #ddd
}

.thicktitle {
	line-height: 7px;
	padding: 0 10px;
	font-family: arial, "\5b8b\4f53";
	font-size: 14px;
	font-weight: 700;
	color: #333
}

.thickclose:link,.thickclose:visited {
	display: block;
	position: absolute;
	z-index: 100000;
	top: 7px;
	right: 12px;
	overflow: hidden;
	width: 15px;
	height: 17px;
	background: url(./images/20130828A.png) no-repeat 0 -107px;
	font-size: 0;
	line-height: 100px
}

.thickcon {
	overflow: auto;
	background: #fff;
	padding: 10px;
	line-height: 22px
}

.tip-msg {
	padding: 25px 45px;
	line-height: 22px
}

.tip-msg .btn {
	margin: 10px 10px 0 0
}

.tip-msg h3 {
	padding: 0;
	color: #333;
	font-size: 18px;
	font-family: '\5fae\8f6f\96c5\9ed1'
}

.tip-succ,.tip-fail,.tip-error {
	margin: 0 0 10px;
	min-height: 60px;
	_height: 60px;
	height: auto
}

.tip-succ span.icon {
	float: left;
	width: 60px;
	height: 56px;
	background: url(./images/20130828A.png) 0 -49px
}

.tip-fail span.icon {
	float: left;
	width: 60px;
	height: 49px;
	background: url(./images/20130828A.png) 0 0
}

.tip-error span.icon {
	float: left;
	width: 60px;
	height: 56px;
	background: url(./images/20130828A.png) 0 -125px
}

.tip-msg .tip-op {
	clear: both;
	margin: 10px 0 0
}

.tip-msg textarea {
	clear: both;
	height: 90px;
	width: 266px;
	border: 1px solid #cfcfcf
}

.tip-msg textarea.border-yellow {
	border: 1px solid #f7a750
}

.tip-msg .form select {
	height: 28px;
	line-height: 28px
}

.del-tip {
	position: relative;
	top: -1px;
	z-index: 1;
	padding: 0 0 0 10px;
	background: #fffbf6;
	border: 1px solid #f4aa59;
	height: 22px;
	line-height: 22px
}

.crumbs {
	height: 85px;
	line-height: 85px;
	background: #f7f7f7
}

.crumbs ul {
	margin: 0 0 0 30px;
	overflow: hidden
}

.crumbs li {
	float: left;
	padding: 0 8px;
	margin: 30px 0;
	height: 25px;
	line-height: 25px
}

.crumbs li.fore1 {
	border-right: 2px solid #d5d5d5
}

.crumbs a {
	font-size: 22px;
	font-family: '\5fae\8f6f\96c5\9ed1';
	color: #949495;
	text-decoration: none
}

.crumbs a.font-green {
	color: #5bb6a7
}

.crumbs a.font-blue {
	color: #4e84b7
}

.work-head {
	position: relative;
	height: 85px;
	background: #f7f7f7;
	padding: 20px 30px 0
}

.work-num {
	position: absolute;
	left: 30px;
	bottom: -30px;
	height: 56px;
	width: 320px;
	margin: 10px 0 0;
	border: 3px #f7f7f7 solid;
	background: #fff
}

.work-num h5 {
	font-wight: bold;
	font-size: 18px;
	font-family: verdana
}

.work-num li {
	float: left;
	width: 78px;
	height: 40px;
	margin: 8px 0 0;
	line-height: 20px;
	border-left: 1px solid #eaeaea;
	text-align: center
}

.work-num li.fore1 {
	border: 0
}

.results-box {
	min-width: 700px
}

.results-box .mt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.results-box .mt {
	display: inline-table
}

* html .results-box .mt {
	height: 1%
}

.results-box .mt {
	display: block
}

*+html .results-box .mt {
	min-height: 1%
}

.results-box .mt h3 {
	float: left;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 5px 0;
	font-size: 18px;
	font-family: '\5fae\8f6f\96c5\9ed1';
	color: #949495
}

.results-box .mt .extra {
	float: left;
	height: 25px;
	line-height: 25px
}

.results-box .mc {
	padding: 20px 30px 30px;
	border-style: solid;
	border-width: 2px 1px 1px;
	border-color: #7c7c7e #d1d1d1 #d1d1d1
}

.yellow-box,.green-box {
	padding: 15px 0 0
}

.yellow-box .mt h3,.green-box .mt h3 {
	position: relative;
	color: #f69710;
	padding: 0 0 0 80px
}

.green-box .mt h3 {
	color: #64beaf
}

.yellow-box .mt h3 b,.green-box .mt h3 b {
	position: absolute;
	top: -18px;
	left: 5px;
	background: url(./images/20130905A.png) no-repeat;
	width: 80px;
	height: 80px
}

.yellow-box .mc {
	border-color: #f7a750 #d1d1d1 #d1d1d1
}

.green-box .mt h3 b {
	background-position: 0 -80px
}

.js-box .mt h3 b {
	background-position: 0 0
}

.jsd-box .mt h3 b {
	background-position: 0 -80px
}

.fp-box .mt h3 b {
	background-position: 0 -160px
}

.hxd-box .mt h3 b {
	background-position: 0 -240px
}

.yh-box .mt h3 b {
	background-position: 0 -320px
}

.green-box .mc {
	border-color: #64beaf #d1d1d1 #d1d1d1
}

.work-list {
	background: url(./images/20130905B.png) repeat-y;
	position: relative;
	top: 4px;
	padding: 16px 0 0
}

.work-list .work-box {
	margin: 20px 0;
	position: relative;
	_height: 20px
}

.work-list .work-box .work-sign {
	position: absolute;
	float: left;
	left: 0;
	top: 12px;
	width: 53px;
	height: 20px;
	background: url(./images/20130905C.png) 0 -20px
}

.work-list .work-box .prior-sign {
	background-position: 0 0
}

.work-list .work-box .work-cont {
	display: inline-block;
	margin-left: 53px;
	padding: 18px;
	background: #fafafa;
	border: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #eaeaea #eaeaea #eaeaea #64beaf;
	width: auto
}

.work-list .work-box strong {
	font-size: 14px;
	font-weight: bold
}

.no-work {
	width: 328px;
	height: 92px;
	margin: 170px auto 0;
	background: url(./images/20130905D.png) left center no-repeat;
	padding: 30px 0 0 132px;
	font-size: 16px;
	color: #bebebe
}

.no-work h3 {
	color: #949496;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 10px
}

.no-power {
	width: 328px;
	height: 92px;
	margin: 170px auto 0;
	background: url(./images/20130911A.png) left center no-repeat;
	padding: 30px 0 0 132px;
	font-size: 16px;
	color: #bebebe
}

.no-power h3 {
	color: #949496;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 10px
}

.no-found {
	width: 328px;
	height: 92px;
	margin: 170px auto 0;
	background: url(./images/20130911B.png) left center no-repeat;
	padding: 30px 0 0 132px;
	font-size: 16px;
	color: #bebebe
}

.no-found h3 {
	color: #949496;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 10px
}

.import-box {
	border-top: 1px dotted #d1d1d1;
	margin: 0 -30px;
	padding: 30px;
	line-height: 24px
}

.import-box .smt {
	color: #f08818;
	margin: 0 0 5px
}

.import-box .smt .h3 {
	font-size: 16px
}

.import-box .smc {
	background: #fffbf6;
	border: 1px solid #f7ac59;
	padding: 10px
}

.import-succ {
	width: 198px;
	height: 42px;
	line-height: 42px;
	background: #f6fffe;
	border: 1px solid #70c3b6;
	text-align: center;
	color: #63beaf;
	font-size: 16px;
	font-family: '\5fae\8f6f\96c5\9ed1'
}

.fp-tip {
	position: relative
}

.fp-tip .fp-tip-msg {
	position: absolute;
	display: none;
	top: 20px;
	left: 0;
	width: 557px;
	height: 176px
}

#main {
	padding: 30px
}

#menu-wrap {
	background: url(./images/20130912A.png) repeat-y #f2f2f2;
	width: 180px
}

#menu-wrap body {
	background: url(./images/20130912A.png) repeat-y #f2f2f2
}

#menu {
	width: 180px
}

#menu .menu-heading {
	display: block;
	width: 100%;
	height: 63px;
	padding-top: 23px;
	background: #54b5a4;
	text-align: center
}

#menu ul {
	width: 165px;
	padding-top: 20px;
	padding-left: 15px
}

#menu li {
	position: relative;
	width: 125px;
	height: 37px;
	margin-bottom: 5px;
	line-height: 37px;
	padding-left: 40px
}

#menu li:hover {
	background: #cbcbcb;
	cursor: pointer
}

#menu li:hover a {
	color: #fff
}

#menu li h3 {
	float: left;
	width: 95px;
	height: 37px;
	padding-left: 25px;
	font: 14px/37px '\5fae\8f6f\96c5\9ed1'
}

#menu li b {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 37px;
	background: url(./images/20130831A.png) no-repeat
}

#menu li a {
	color: #999
}

#menu .curr {
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08)
}

#menu .curr h3 {
	background: #fff
}

#menu .curr b {
	background-color: #64beaf
}

#menu .curr a,#menu li.curr:hover a {
	color: #54b5a5
}

#menu .item1 b {
	background-position: 0 0
}

#menu .item2 b {
	background-position: 0 -46px
}

#menu .item3 b {
	background-position: 0 -93px
}

#menu .item4 b {
	background-position: 0 -140px
}

#menu .item5 b {
	background-position: -1px -189px
}

#menu .item6 b {
	background-position: 0 -235px
}

#menu .item7 b {
	background-position: 0 -282px
}

#menu .item1.curr b,#menu .item1:hover b {
	background-position: -45px 0
}

#menu .item2.curr b,#menu .item2:hover b {
	background-position: -45px -46px
}

#menu .item3.curr b,#menu .item3:hover b {
	background-position: -45px -93px
}

#menu .item4.curr b,#menu .item4:hover b {
	background-position: -45px -140px
}

#menu .item5.curr b,#menu .item5:hover b {
	background-position: -45px -189px
}

#menu .item6.curr b,#menu .item6:hover b {
	background-position: -45px -235px
}

#menu .item7.curr b,#menu .item7:hover b {
	background-position: -45px -282px
}

.m {
	border-width: 2px 1px 1px;
	border-style: solid;
	border-color: #7c7c7e #d8d8d8 #d8d8d8
}

.m .mt {
	height: 33px;
	border-bottom: 1px solid #d8d8d8;
	background: #fafafa
}

.m .mc .con {
	padding: 0 30px
}

.m .tab {
	height: 42px;
	margin-top: -42px
}

.m .tab li {
	float: left;
	cursor: default;
	font: 15px/46px '\5fae\8f6f\96c5\9ed1'
}

.m .tab .curr {
	height: 38px;
	border-top: 4px solid #64beaf;
	margin-left: -1px;
	background: #fff;
	line-height: 38px;
	color: #5bb6a7
}

.m .tab li a {
	color: #666;
	float: left;
	height: 38px;
	padding: 0 25px
}

.m .tab .curr a {
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	-moz-box-shadow: 0 1px 1px #ddd inset;
	-webkit-box-shadow: 0 1px 1px #ddd inset;
	box-shadow: 0 1px 1px #ddd inset
}

.m .tab .curr a {
	color: #5bb6a7
}

.crumbs select {
	height: 28px;
	padding: 3px;
	border: 1px solid;
	border-color: #cfcfcf;
	background: #fff;
	line-height: 28px;
	width: 200px
}

.form fieldset {
	padding: 20px 0
}

.form label {
	float: left;
	width: 110px;
	height: 30px;
	font: 12px/30px '\5b8b\4f53';
	color: #999
}

.form select {
	width: 138px;
	height: 28px;
	padding: 3px;
	border: 1px solid;
	border-color: #cfcfcf;
	background: #fff;
	line-height: 28px
}

.form .input-text {
	width: 125px;
	min-width: 50px;
	height: 18x;
	line-height: 18px;
	padding: 4px 5px;
	border: 1px solid #cfcfcf
}

.form .input-text2 {
	width: 95px;
	height: 18x;
	line-height: 18px;
	padding: 4px 5px;
	border: 1px solid #cfcfcf
}

.form1 {
	float: left;
	height: 245px;
	padding: 0 30px 30px;
	margin: 30px 30px 10px 0;
	background: #fafafa
}

.form1 h3 {
	height: 20px;
	margin-bottom: 20px;
	font: 15px/20px '\5fae\8f6f\96c5\9ed1';
	color: #666
}

.settlement-1-1 {
	width: 100%;
	height: 30px;
	margin-bottom: 10px
}

.settlement-1-2 {
	float: left;
	width: 48%;
	height: 30px;
	margin-bottom: 10px
}

.settlement-1-2 label {
	width: 110px
}

.settlement-1-3 {
	float: left;
	width: 33.33333%;
	height: 30px;
	margin-bottom: 10px
}

.mr10 {
	margin-right: 10px
}

.mb20 {
	margin-bottom: 20px
}