##################################
## 数据字典-数据项管理列表页面
##author：dongjian
##################################
#set($layout = "layout/null.vm")

<!-- 数据字典-数据项管理列表JS -->
<script type="text/javascript" src="#springUrl('/js/dict/dictdata_list.js')"></script>

<div class="navbar">
    <div class="navbar-inner">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left">
                <ul class="nav">
                    <li><a href="#" >数据名称:</a></li>
                    <li><input type="text" id="dictDataName" name="dictDataName" maxlength="100" class="input-medium span11"></li>
                    <li><button id="searchDictData" type="button" class="btn">搜索</button></li>
					<li><input type="hidden" id="dictCode" name="dictCode" value=""/></li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div>
    <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="dictData" width="100%"></table>
</div>