@charset "utf-8"; 
html,body {
	font-family: Verdana, Arial, Lucida, Helvetica, "\5B8B\4F53",
		"\5FAE\8F6F\96C5\9ED1", sans-serif;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	color: #808080
}

div,form,img,ul,ol,li,th,td,dl,dt,dd,button,input {
	margin: 0;
	padding: 0
}

li {
	list-style-type: none
}

img {
	vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 14px
}

input {
	font-size: 12px;
	vertical-align: middle;
	color: #333
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a:link,a:visited {
	color: #48a7e7;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}
.margin-row-none{
	padding-left:0;
	padding-right:0;
}

body.page-header {
	background: url(i/header-bg.png) repeat-x 0 68px
}

#header {
	height: 100%;
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	color: #656565;
	position: relative
}

#header a {
	text-decoration: none;
	color: #656565
}

#header #logo {
	padding: 16px;
	position: relative;
	z-index: 2;
	width: 380px;
	overflow: hidden
}

#header #logo a {
	float: left;
	height: 40px;
	width: 347px;
	background: url(i/logo.png) no-repeat 0 0;
	text-indent: -9999px
}

#header #sys-infor {
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 22px
}

#header #sys-infor a {
	margin-left: 5px;
	color: #48a7e7
}

#header #sys-infor a:hover {
	text-decoration: underline
}

#header #sys-infor i {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	vertical-align: middle
}

#header #sys-infor .i-messages {
	background-position: 0 0
}

#header #sys-infor .i-help {
	background-position: -28px 0
}

#nav {
	font-size: 14px
}
#nav ul {
	float: left;
	width: 100%;
	background: #48a7e7;
	overflow: hidden
}

#nav ul li {
	float: left
}

#nav ul a:link,#nav ul a:visited {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	border: #ddd;
	padding-left: 2px;
	text-decoration: none
}

#nav ul a:link span,#nav ul a:visited span {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding-right: 2px;
	color: #fff;
	font-family: "Microsoft Yahei";
	font-size: 16px;
	text-decoration: none;
	cursor: pointer
}

#nav ul li.curr a {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	border: #ddd;
	padding-left: 2px;
	background: #3594d3;
	background-image: -moz-linear-gradient(top, #2f8dcc, #45a4e3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f8dcc),
		color-stop(1, #45a4e3) );
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#2f8dcc, endColorstr = #45a4e3, GradientType = '0' )
}

#nav ul li.curr a span {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding-right: 2px;
	color: #fff
}

#header #sys-links {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: right;
	height: 38px
}

#header #sys-links li {
	display: inline-block;
	margin-right: 10px
}

#header #sys-links li a:link,#header #sys-links li a:visited {
	position: relative;
	display: inline-block;
	height: 10px;
	padding: 8px 10px 14px 20px;
	font-size: 12px;
	color: #333;
	text-decoration: none
}

#header #sys-links li a:link i,#header #sys-links li a:visited i {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 4px;
	top: 3px;
	background: url(i/icon-links.png) no-repeat
}

#header #sys-links li a:link i.i-feedback,#header #sys-links li a:visited i.i-feedback
	{
	background-position: 0 -7px
}

#header #sys-links li a:link i.i-question,#header #sys-links li a:visited i.i-question
	{
	background-position: 0 -38px
}

#header #sys-links li {
	*display: inline
}

#header #sys-links li:hover a:link,#header #sys-links li:hover a:visited
	{
	background: #def2ff;
	color: #2f8dcc
}

.overflow{
	overflow: hidden;
	}
.page-left{
	width: 192px;
	background: url(i/menu.png) repeat-y 0 0;
}
.page-left,.page-right {
	overflow: hidden;
	margin-bottom:-20480px;
	padding-bottom:20480px;
}

.page-left ::-webkit-scrollbar {
	width: 7px;
	height: 7px
}

.page-left ::-webkit-scrollbar-track-piece {
	background-color: #f1f1f1
}

.page-left ::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #ccc;
	-webkit-border-radius: 3px
}

#menu {
	width: 190px;
	margin-top: 5px
}

#menu .lev1 {
	margin-top: 5px;
	border-bottom: 1px solid transparent
}

#menu .lev1 .tit {
	display: inline-block;
	width: 170px;
	height: 28px;
	line-height: 28px;
	color: #808080;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	padding: 3px 10px;
	text-decoration: none;
	background: url(i/arrow-menu.png) no-repeat 150px 4px
}

#menu .lev1 .tit.no-child {
	background: 0
}

#menu .lev1 .tit span {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	cursor: pointer
}

#menu .lev1 .tit:hover {
	background-color: #e3e3e3
}

#menu .lev1.open .tit {
	background-position: 150px -26px;
	font-weight: bold;
	font-size: 15px
}

#menu .lev1 .open {
	display: block
}

#menu i {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	background: url(i/icon-menu.png) no-repeat 0 0;
	margin: 0 10px 0 0
}

#menu .i-dd {
	background-position: 0 0
}

#menu .i-doc {
	background-position: 0 -40px
}

#menu .i-dtable {
	background-position: 0 -80px
}

#menu .i-form {
	background-position: 0 -118px
}

#menu .i-flowlib {
	background-position: 0 -159px
}

#menu .i-flowapp {
	background-position: 0 -197px
}

#menu .i-docapp {
	background-position: 0 -234px
}

#menu .i-sysapp {
	background-position: 0 -273px
}

#menu .lev2 {
	display: none;
	margin-left: 10px;
	margin-bottom: 0;
	text-align: right
}

#menu .lev2 a {
	text-align: left;
	display: inline-block;
	padding: 1px 0 1px 4px;
	margin-left: -1px;
	width: 164px;
	color: #666;
	text-decoration: none;
	height: 28px;
	line-height: 28px;
	overflow: hidden
}

#menu .lev2 a:hover {
	font-weight: bold;
	color: #48a7e7
}

#menu .lev2 i {
	visibility: hidden
}

#menu .lev2 .i-switch {
	visibility: visible
}

#menu .lev2 .curr {
	border-right: 0;
	padding: 0;
	background-color: #fff;
	color: #48a7e7;
	font-weight: bold;
	box-shadow: -1px 0 5px #ddd
}

#menu .lev1 > a.curr {
	border-right: 0;

	background-color: #fff;
	color: #48a7e7;
	font-weight: bold;
	box-shadow: -1px 0 5px #ddd
}

#menu .lev2 .curr span {
	margin-left: 3px
}

#menu .lev2 .curr i {
	visibility: visible;
	border-left: 4px solid #45a4e4;
	margin-top: -3px;
	width: 18px;
	height: 28px;
	position: relative;
	top: 1px\9;
	background: url(i/icon-arrow.png) no-repeat 0 11px
}

#menu .lev2 .tit {
	font-size: 12px;
	color: #666;
	padding: 0
}

#menu .lev3 {
	display: none;
	margin-left: 10px
}

.wrap {
	margin: 20px 0 20px 30px;
	overflow: hidden;
	width: 1040px
}

.m .mc .m-head {
	background: none repeat scroll 0 0 #fafafa;
	border-bottom: 1px solid #d8d8d8;
	overflow: hidden;
	padding-left: 15px
}

.m .mc .hfilter {
	margin-top: 10px;
	margin-bottom: 10px
}

.m .mc .m-body {
	padding: 15px
}

.mgt10 {
	margin-top: 10px
}

.pdl40 {
	padding-left: 40px
}

.mgl15 {
	margin-left: 15px
}

.mc {
	border: 1px solid #d8d8d8;
	border-top: 2px solid #7c7c7e
}

.mt h3 {
	color: #949495;
	font: bold 18px "Microsoft Yahei";
	margin-bottom: 10px
}

.form .line {
	margin-bottom: 15px
}

.form .line .label {
	width: 135px;
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 0 10px 0 0;
	padding: 5px 0;
	text-align: right;
	color: #808080
}

.form .line .con {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
	padding: 5px 0;
	color: #333
}

.form .line .con a {
	text-decoration: underline
}

.form .line .con .btn-c2,.form .line .con .btn-c1 {
	text-decoration: none
}

.form .line .red {
	color: #fe0000;
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: middle
}

.form .line .tip {
	color: #808080;
	margin-left: 10px
}

.form-center {
	width: 500px;
	margin: 0 auto
}

.txt {
	width: 160px;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 6px;
	border: 1px solid #d7d7d7
}

.txt1 {
	width: 90px
}

.sel {
	width: 102px;
	padding: 4px 0;
	height: 28px;
	line-height: 28px;
	border: 1px solid #d7d7d7
}

.sel1 {
	width: 200px
}

.sel2 {
	width: 290px
}

.thick-form .line .label {
	color: #333
}

.thick-form .sch-box {
	width: 310px;
	height: 185px;
	overflow-y: auto;
	border: 1px solid #d7d7d7;
	padding: 10px 5px
}

.thick-form .sch-box h4 {
	padding: 5px 0 0 5px;
	font-size: 12px
}

.thick-form .sch-box p {
	margin: 0;
	padding: 0 0 5px 5px;
	color: #808080
}

.thick-form .sch-box .highlight {
	background: #e5f4fe
}

.thick-form .chkbox {
	margin: 0 5px
}

.thick-form .vt {
	vertical-align: top
}

.thickbox {
	position: absolute;
	top: 40px;
	left: 200px;
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	border: 1px solid #aaa;
	width: 630px
}

.thickbox .thick-title {
	color: #333;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
	background: #ededed;
	position: relative
}

.thickbox .thick-title .close {
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 9999px;
	overflow: hidden;
	background: url(i/close.png) no-repeat;
	display: inline-block;
	width: 22px;
	height: 22px
}

.thickbox .thick-con {
	padding: 0 15px 20px 15px
}

.grid {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #cfcfcf
}

.grid th {
	height: 32px;
	background: #fafafa;
	color: #808080;
	border-right: 1px solid #cfcfcf;
	font-weight: normal
}

.grid td {
	padding: 4px;
	border-top: 1px solid #cfcfcf;
	padding-left: 10px;
	color: #333
}

.grid td .cancel {
	background: url(i/cancel.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	line-height: 9999px;
	overflow: hidden;
	margin-left: 20px
}

.grid td .edit {
	background: url(i/edit.png) no-repeat;
	width: 17px;
	height: 16px;
	display: inline-block;
	line-height: 9999px;
	overflow: hidden;
	margin-left: 20px
}

.grid
 
tr
:nth-child
(2n
+
1){
background
:
#fafafa
}
.grid-center {
	text-align: center
}

.grid-tit {
	color: #333;
	line-height: 36px
}

.tab .mc {
	padding-bottom: 20px
}

.tab-tit {
	height: 34px;
	background: #fafafa;
	border-bottom: 1px solid #d4d4d4
}

.tab-tit li {
	width: 131px;
	height: 34px;
	text-align: center;
	float: left;
	position: relative
}

.tab-tit li a {
	line-height: 34px;
	color: #808080;
	font-size: 14px;
	font-weight: bold;
	display: block;
	width: 131px
}

.tab-tit li a:hover {
	text-decoration: none
}

.tab-tit .curr a {
	background: url(i/tab-b.png) no-repeat top center #fff;
	border-top: 3px solid #48a7e7;
	color: #48a7e7;
	position: absolute;
	top: -10px;
	left: -1px;
	height: 42px;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf
}

.tab-con {
	padding: 10px
}

.choose {
	width: 125px;
	display: inline-block
}

.choose b {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #ddd;
	vertical-align: middle;
	margin-right: 10px
}

.choose .curr {
	width: 16px;
	height: 16px;
	border: 0 none;
	background: url(i/choose.png) no-repeat
}

.ml20 {
	margin-left: 20px
}

.mr5 {
	margin-right: 5px
}

.ml5 {
	margin-left: 5px
}

.mb10 {
	margin-bottom: 10px
}

.w290 {
	width: 290px;
	text-align: right
}

.t-c {
	text-align: center
}

.t-r {
	text-align: right
}

.fl {
	float: left
}

.fr {
	float: right
}

.clr {
	clear: both
}

select {
	*vertical-align: middle
}

.pagin {
	float: right
}

.pagin .btn-vice {
	height: 28px;
	padding: 0 12px
}

.pagin a,.pagin span {
	border: 1px solid #e1e1e1;
	padding: 6px 10px;
	font-family: "Arial";
	color: #333
}

.pagin a:link,.pagin a:visited {
	text-decoration: none;
	color: #333
}

.pagin a:hover {
	text-decoration: none;
	background: #def2ff;
	border-color: #def2ff
}

.pagin a.current {
	color: #48a7e7;
	border: 0
}

.pagin a.current:hover {
	background: #fff
}

.pagin span.txt,.pagin span.text {
	border: 0
}

.pagin span {
	cursor: default
}

.pagin .input {
	width: 40px;
	margin: 0 5px;
	height: 24px;
	font-size: 14px;
	border: 1px solid #d9d9d9;
	font-weight: normal
}

.pagin .next,.pagin .prev {
	font-size: 14px;
	padding: 5px 10px 6px 10px;
	color: #ccc
}

.pagin .prev-disabled,.pagin .next-disabled {
	color: #dfdfdf;
	background: #f2f2f2
}

.pagin .btn-vice {
	border-radius: 5px;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #c7c7c7;
	color: #333;
	font-weight: normal
}

.pagin .btn-vice:hover {
	background-color: #f2f2f2;
	text-decoration: none
}

.btn-h1,.btn-h2 {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 1px 25px;
	margin-left: 5px;
	margin-right: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle
}

.btn-c1 {
	border: 1px solid #c7c7c7;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	color: #333
}

.btn-c2 {
	background-color: #48a7e7;
	color: #fff;
	border: 0
}

.btn-c3 {
	background-color: #2bc762;
	color: #fff;
	border: 0
}

a.btn-c1:link,a.btn-c1:visited,a.btn-c1:hover {
	color: #333;
	text-decoration: none
}

a.btn-c2:link,a.btn-c2:visited,a.btn-c2:hover,a.btn-c3:link,a.btn-c3:visited,a.btn-c3:hover
	{
	color: #fff;
	text-decoration: none
}

.btn-c1:hover {
	background-color: #f2f2f2
}

.btn-c2:hover {
	background-color: #4196cf
}

.btn-c3:hover {
	background-color: #26ac56
}

.btn-h1 {
	height: 36px;
	line-height: 36px;
	font-size: 14px
}

.btn-h2 {
	height: 28px;
	line-height: 28px
}

.btn-c2.btn-h1,.btn-c3.btn-h1 {
	font-weight: bold
}

.filter {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 15px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-bottom: 15px
}

.sele,.text {
	border: 1px solid #d8d8d8;
	padding: 5px;
	width: 180px;
	font-size: 12px
}

.filter td {
	height: 40px
}

.icon-reject {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	vertical-align: middle;
	background: url(i/icon-hand.png) no-repeat;
	height: 15px;
	width: 15px;
	margin-right: 8px;
	margin-left: -23px
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-table
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

*+html .clearfix {
	min-height: 1%
}

.col-price,.col-amou,.col-sum {
	text-align: right
}

.mgb30 {
	margin-bottom: 30px
}

input.txt01 {
	width: 400px
}

input.txt02 {
	width: 100px;
	text-align: right
}

input.txt03 {
	width: 130px;
	text-align: right
}

input.txt04 {
	width: 208px;
	text-align: right
}

.icon-close {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	background-image: url(i/cancel.png);
	width: 16px;
	height: 16px;
	vertical-align: middle
}

.f-btns {
	text-align: right;
	margin-top: -20px;
	margin-bottom: 10px
}

.txt-time {
	background: url(i/icon-time.png) no-repeat 10px center;
	padding-left: 34px;
	width: 126px
}

.form01 {
	zoom: 1
}

.form01 .line .label {
	width: 460px
}

.grid01 td {
	padding-left: 7px;
	padding-right: 7px;
	height: 40px
}


#bottom{
	position: fixed;
	width: 100%;
	background: #f1f1f1;
	bottom: 0;
	z-index:999;
	text-align:center;
}