##################################
## 组织架构-查看页面
##author：xulin
##################################
#set($layout = "layout/null.vm")

<div>
<form id="inputForm">
	<div class="control-group">
        <label class="control-label">编码：</label>
        <div class="controls">
    	  <input type="text" id="organizationCode" name="organizationCode" value="$!{sysOrganization.organizationCode}" disabled />
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">名称：</label>
        <div class="controls">
    	  <input type="text" id="organizationName" name="organizationName" value="$!{sysOrganization.organizationName}" disabled />
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">全称：</label>
        <div class="controls">
            <textarea id="organizationFullname" name="organizationFullname" rows="5" maxlength="50" disabled>$!{sysOrganization.organizationFullname}</textarea>
        </div>
    </div>
</form>
</div>