#set($layout = "layout/default.vm")
<style>
	img{ max-width:100px; max-height:100px; }
</style>
<script type="text/javascript">
    	var advTable = null;
		
        var tableOption = {
        	oLanguage : {
                sUrl: "/static/datatables/js/dataTables.chinese.txt"
            },
            "sAjaxSource": "/adv/search",
        	"bProcessing": true,
            "bServerSide": true,
        	"sServerMethod": "get",
        	"fnServerParams": function (param) {
        		$('#form :input').each(function(){
        			if($(this).val() != '')	{
        				param.push({"name":$(this).attr('name'), "value" : $(this).val()});
        			}
        		});
            },
        	"sDom": '<"top"l>rt<"bottom"ip><"clear">',
        	"sPaginationType": "bootstrap",
        	aoColumns: [
                {"sTitle":"编号", "sDefaultContent": "","sWidth":"40px","bSortable":false,"mData":"id"},
                {"sTitle":"广告主名称","sDefaultContent": "", "mData":"advertiser","bSortable":false},
                {"sTitle":"图片","sDefaultContent": "", "mData":"picUrl","bSortable":false,
					"mRender":function(data, type, full){
						return "<img width='50' height='50' src='" + full.picUrl + "'/>";
				}},
                {"sTitle":"广告位置","sDefaultContent": "", "mData" : "position","bSortable":false, 
					"mRender":function(data, type, full){
					#foreach($entry in $positions.entrySet())
						if(full.position == '$entry.key')	return "$entry.value";
					#end
					}
				},
                {"sTitle":"广告链接","sDefaultContent": "", "mData" : "linkUrl","bSortable":false},
                {"sTitle":"有效截止时间","sDefaultContent":"","mData" : "expireTime","bSortable":true},
        		{"sTitle":"操作","sWidth":"100px","sDefaultContent": "","bSortable":false,
        			"mRender":function(data, type, full){
						return "<a href=\"javascript:void(0);\" onclick=\"edit(" + full.id + ")\">修改<a>&nbsp;&nbsp;&nbsp;"
							+ "<a href=\"javascript:void(0);\" onclick=\"del(" + full.id + ")\">删除<a>";
        			}
                }
            ]
        };
		
    	$(function(){
			$("#searchBtn").click();
    	});
          
        function search()	{
        	if(advTable != null)	{
				advTable.fnDraw();
        	} else	{
				advTable = $("#advTable").dataTable(tableOption);
        	}
			
        }
		
		function edit(id)	{
			loadUrl('/adv/edit?id=' + id);
		}
		
		function del(id)	{
			jQuery.post("/adv/del?id=" + id, function(data){
				if(data.err == 0)	{
					bootbox.alert("删除成功");
					advTable.fnDraw();
				} else{
					bootbox.alert("系统错误,请联系管理员.<br>错误代码:" + data.err);
				}
			}, 'json');
		}
		
</script>
    <div id="main">
        <!-- tab页 s-->
        <h3><b class="font-green">广告位管理</b></h3>
        <div class="m mb20">
			<div class="mt"></div>
            <div class="mc">
                <div class="con">
                <form class="form form-aligned" id="form">
                    <fieldset>
                    <div class="settlement-1-2">
                        <label>广告主名称：</label>
						<input type="text" name="advertiser" autocomplete="off"/>						
                    </div>
                    <div class="btn-box">
						<button id="searchBtn" class="btn btn-primary mr10" type="button" onclick="search()">搜索</button>
						<button class="btn btn-green mr10" type="button" onclick="loadUrl('/adv/input')">新增</button>
						<button class="btn btn-green mr10" type="button" onclick="loadUrl('/adv/sort')">排序</button>
					</div>
                    </fieldset>
				</form>
                </div>
            </div>
        </div>
        <!-- tab页 e-->
        <div class="results-box ">
            <div class="mt">
                <h3><b class="font-green">广告位查询结果</b></h3>
            </div>
            <div class="mc bg-gray">
                <div>
                   <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="advTable" width="100%"></table>
                  
                </div>
            </div>
        </div>
    </div>
</div>