#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/supplier/supplier_examine.js')"></script>
  <div id="main">
	 <div class="results-box yellow-box yh-box">
        <div class="mt">
            <h3>供应商信息<b></b></h3><br/><br/> <br/><br/>
        </div>
        <div class="mc">
            <font size="3" color="black">基本注册信息：</font><hr>	
            <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">企业名称：</td><td>$!{supplier.name}</td>
                    <td class="font-gray">账号：</td><td>$!{supplier.userCode}</td>
					<td class="font-gray">企业联系电话：</td><td>$!{supplier.mobile}</td>					
                </tr>
                <tr>
                	<td class="font-gray">企业邮箱：</td><td>$!{supplier.email}</td>
                	<td class="font-gray">资料完整度：</td>
	                	<td>
	                	#foreach($var in $!integrityList)	
							#if($!{var.id}==$!{supplier.dataIntegrity})							
								$!{var.dictDataName}%
							#else
							#end								
						#end
						</td>
                </tr>
                <tr>
                	<td class="font-gray">推荐人：</td><td>$!{supplier.realName}</td>
                </tr>				
            </tbody>	
            </table>				
                <div>
                    <table class="grid">
                        <colgroup>
                            <col width="200">
                            <col width="300">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>联系人</th>
                                <th>职位</th>
                                <th>办公座机</th>
                                <th>手机</th>
                                <th>传真</th>
                                <th>邮箱</th>
                            </tr>
                        </thead>
                        <tbody>
							#foreach($supplierContact in $!{supplier.contacts})
                    		<tr>
								<td >$!{supplierContact.contactor}</td>
								<td >$!{supplierContact.position}</td>
								<td >$!{supplierContact.telphone}</td>
								<td >$!{supplierContact.mobile}</td>
								<td >$!{supplierContact.fax}</td>
                                <td >$!{supplierContact.email}</td>
                            </tr>
                    		#end
                        </tbody>
                    </table>
                </div><br/><br/><br/>
			<font size="3" color="black">企业状况：</font>
            	<hr>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">供应商全称：</td><td>$!{supplier.enterprise.name}</td>
                    <td class="font-gray">供应商组织：</td>
                    <td>
	                	#foreach($var in $!orgList)	
							#if($!{var.id}==$!{supplier.enterprise.organize})							
								$!{var.dictDataName}
							#else
							#end								
						#end
						</td>
					<td class="font-gray">办公地址：</td><td>$!{supplier.enterprise.officeAddress}</td>					
                </tr>
                <tr>
                    <td class="font-gray">注册地址：</td><td>$!{supplier.enterprise.registeredAddress}</td>
                    <td class="font-gray">工厂地址：</td><td>$!{supplier.enterprise.factoryAddress}</td>
					<td class="font-gray">企业性质：</td>
					<td>
					#foreach($var in $!enterpriseList)	
							#if($!{var.id}==$!{supplier.enterprise.enterpriseType})							
								$!{var.dictDataName}
							#else
							#end								
						#end
					</td>					
                </tr>
                 <tr>
                    <td class="font-gray">企业法人：</td><td>$!{supplier.enterprise.enterpriseLaw}</td>
                    <td class="font-gray">成立日期：</td>
                     <td>
                    #if( $!{supplier.enterprise.enterpriseDate} !="") $dateTool.format('yyyy-MM-dd',  $!{supplier.enterprise.enterpriseDate}) #end
                    </td>
					<td class="font-gray">员工总人数：</td><td>$!{supplier.enterprise.employeeCount}</td>					
                </tr>
                 <tr>
                 	<td class="font-gray">管理人数：</td><td>$!{supplier.enterprise.managerCount}</td>
                    <td class="font-gray">技术人数：</td><td>$!{supplier.enterprise.tecCount}</td>
                    <td class="font-gray">厂地面积：</td><td>$!{supplier.enterprise.measure}</td>			
                </tr>
                 <tr>
                 	<td class="font-gray">注册资金：</td>
                 	<td>
                 	 #if( $!{supplier.enterprise.moneyo} !="")
                 		$!{supplier.enterprise.moneyo}万元
                 	#end
                 	</td>				
                    <td class="font-gray">营业执照号：</td><td>$!{supplier.enterprise.license}</td>
                    <td class="font-gray">营业执照有效期：</td>
                     <td>
                    
                     #if( $!{supplier.enterprise.periodDate} !="") $dateTool.format('yyyy-MM-dd',  $!{supplier.enterprise.periodDate}) #end
                    </td>							
                </tr>
                 <tr>
                 	<td class="font-gray">经营许可证号：</td><td>$!{supplier.enterprise.managementNum}</td>
                    <td class="font-gray">纳税人登记号：</td><td>$!{supplier.enterprise.taxNum}</td>
					<td class="font-gray">组织机构代码号：</td><td>$!{supplier.enterprise.orgCode}</td>					
                </tr>
                 <tr>
                    <td class="font-gray">行业资质：</td><td>$!{supplier.enterprise.qualification}</td>
                    <td class="font-gray">年产量：</td><td>$!{supplier.enterprise.perAcount}</td>
					<td class="font-gray">业务覆盖范围：</td>
					<td>
					#foreach($var in $!coverageList)
					 		#foreach($v in $!rangeList)		
								#if($!{var.id}==$!{v})							
									$!{var.dictDataName}
								#else
								#end	
							#end								
					#end
					</td>					
                </tr>
                 <tr>
                    <td class="font-gray">分支机构：</td><td>$!{supplier.enterprise.branch}</td>
                    <td class="font-gray">经营内容：</td><td>$!{supplier.enterprise.content}</td>
					<td class="font-gray">企业及产品荣誉情况：</td><td>$!{supplier.enterprise.honor}</td>					
                </tr>
                 <tr>
                    <td class="font-gray">同行业绩情况：</td><td>$!{supplier.enterprise.other}</td>		
                    <td class="font-gray">企业网站：</td><td>$!{supplier.enterprise.webSite}</td>		
                </tr>				
            </tbody>	
            </table><br/><br/><br/>
            <font size="3" color="black">财务状况：</font>
           <hr>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">开户银行许可证：</td>
                    <td>
                    #if($!{supplier.finance.bankLicense} == '0') 无  #end
                    #if($!{supplier.finance.bankLicense} == '1') 有  #end
                    </td>
                    <td class="font-gray">开户银行联行号：</td><td>$!{supplier.finance.bankLinked}</td>
					<td class="font-gray">开户银行：</td><td>$!{supplier.finance.bankName}</td>					
                </tr>
                <tr>
                    <td class="font-gray">银行账号：</td><td>$!{supplier.finance.bankAccount}</td>
                    <td class="font-gray">税率：</td><td>$!{supplier.finance.bankRate}</td>
					<td class="font-gray">默认申报纳税类型：</td>
					<td>
					 #foreach($var in $!taxList)	
							#if($!{var.id}==$!{supplier.finance.taxType})							
								$!{var.dictDataName}
							#else
							#end								
						#end
					</td>					
                </tr>
                 <tr>
                   <td class="font-gray">年销售额：</td>
                    <td>
                     #if( $!{supplier.finance.salesCount} !="")
                    	$!{supplier.finance.salesCount}万元
                     #end
                    </td>
                    <td class="font-gray">企业年所得税：</td>
                    <td>
                    #if( $!{supplier.finance.enterpriseTax} !="")
                    	$!{supplier.finance.enterpriseTax}万元
                    #end
                    </td>							
                </tr>
            </tbody>	
            </table><br/><br/><br/>
             <font size="3" color="black">技术状况及质量控制：</font>
           <hr>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
            </colgroup>         
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">*认证状况：</td>
                    <td>
                    #foreach($var in $!authenticList)	
							#foreach($v in $!auList)		
								#if($!{var.id}==$!{v})							
									$!{var.dictDataName} &nbsp;
								#else
								#end	
							#end								
					#end
					</td>	
                </tr>            
            </tbody>	
           </table>
           *主要生产设备：
              <div>
                    <table class="grid">
                        <colgroup>
                            <col width="200">
                            <col width="300">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>名称/型号</th>
                                <th>品牌</th>
                                <th>数量</th>
                                <th>产能</th>
                                <th>使用年限</th>
                            </tr>
                        </thead>
                        <tbody>
							#foreach($equip in $!{supplier.quality.equips})
							#if($!{equip.type} == '1')
                    		<tr>
								<td >$!{equip.name}</td>
								<td >$!{equip.brand}</td>
								<td >$!{equip.eqNumber}</td>
								<td >$!{equip.eqProduction}</td>
								<td >$!{equip.eqLimit}</td>
                            </tr>
                            #end
                    		#end
                        </tbody>
                    </table>
                </div><br/><br/><br/>
                   <div>
                                   主要检测设备：
                    <table class="grid">
                        <colgroup>
                            <col width="200">
                            <col width="300">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead>
                            <tr>
                               <th>名称/型号</th>
                                <th>品牌</th>
                                <th>数量</th>
                                <th>产能</th>
                                <th>使用年限</th>
                            </tr>
                        </thead>
                        <tbody>
							#foreach($equip in $!{supplier.quality.equips})
							#if('2' ==$!{equip.type})
                    		<tr>
							<td >$!{equip.name}</td>
								<td >$!{equip.brand}</td>
								<td >$!{equip.eqNumber}</td>
								<td >$!{equip.eqProduction}</td>
								<td >$!{equip.eqLimit}</td>
                            </tr>
                            #end
                    		#end
                        </tbody>
                    </table>
                </div><br/><br/><br/>
                   <div>
                                          原材料信息：
                    <table class="grid">
                        <colgroup>
                            <col width="200">
                            <col width="300">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>主要原料名称</th>
                                <th>供应厂家</th>
                            </tr>
                        </thead>
                        <tbody>
							#foreach($material in $!{supplier.quality.materials})
                    		<tr>
								<td >$!{material.name}</td>
								<td >$!{material.factory}</td>
                            </tr>
                    		#end
                        </tbody>
                    </table>
                </div><br/><br/><br/>	
                
           <font size="3" color="black">其它信息：</font>
           <hr>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">与京东合作过：</td>
                    <td>
                    #if($!{supplier.other.isCooperation} == '0') 未合作  #end
                    #if($!{supplier.other.isCooperation} == '1') 合作  #end
                    </td>
                    <td class="font-gray">现合作客户：</td><td>$!{supplier.f_sup_id}</td>
					<td class="font-gray">与现合作客户进行考察：</td>
					<td>
					#if($!{supplier.other.isVisit} == '0') 未考察  #end
                    #if($!{supplier.other.isVisit} == '1') 考察   #end
					</td>					
                </tr>
                <tr>
                    <td class="font-gray">备注：</td><td>$!{supplier.other.mark}</td>				
                </tr>
            </tbody>	
            </table><br/><br/><br/>	
            <font size="3" color="black">附件下载：</font>
           <hr>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">营业执照副本：</td>
                    <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '1') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>
                    <td class="font-gray">税务登记证：</td>
                     <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '2') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>
					<td class="font-gray">组织机构代码证：</td>
					 <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '3') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>				
                </tr>
                <tr>
                    <td class="font-gray">银行开户许可证：</td>
                     <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '4') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>
                    <td class="font-gray">供应商结算银行信息表：</td>
                     <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '5') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>
                     <td class="font-gray">行业资质：</td>
                     <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '6') $!{affix.fileName} #end
					#end
                    </td>										
                </tr>
                <tr>
                <td class="font-gray">环境认证：</td>
					 <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '7') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>				
                    <td class="font-gray">质量认证：</td>
                     <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '8') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>
                     <td class="font-gray">其他资料：</td>
                      <td>
                    #foreach($affix in $!{supplier.affix})
						#if($!{affix.fileType} == '9') <a href="$!{affix.fileKey}">$!{affix.fileName}</a> #end
					#end
                    </td>				
                </tr>
            </tbody>	
            </table><br/><br/><br/>
              <font size="3" color="black">审核：</font>
           <hr>
           <form id="form1"  method="post" action="/supplier/supplier_saveExamine">
           <input name="id" type="hidden" class="input-text" value="$!{supplier.id}"/>
           <input name="enterprise.id" type="hidden" class="input-text" value="$!{supplier.enterprise.id}"/>
           <input name="enterprise.code" type="hidden" class="input-text" value="$!{supplier.enterprise.code}"/>
           <input name="recommended" type="hidden" class="input-text" value="$!{supplier.recommended}"/>
           <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>	
				<tr>
                    <td class="font-gray" colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">当前记录状态：</td>
                    <td>
                    	#if($!{supplier.supplierStatus} == '0') 未审核  #end
	                	#if($!{supplier.supplierStatus} == '1') 已审核  #end
	                	#if($!{supplier.supplierStatus} == '2') 驳回  #end
                    </td>			
                </tr>
                <tr>               	
                    <td class="font-gray">审核描述：</td>
                    <td>
                    <input id="auditReason" name="auditReason" value="$!{supplier.auditReason}" required data-rule="required;length[~100];" type="text" class="input-text" />
                    </td>				
                </tr>
                <tr>
                <td class="font-gray">供应商归属区域：</td>
                <td>
				 <select name="enterprise.supplierOwner" style="width:70px;margin:0px 0px 10px">
				 <option selected value="">请选择</option>
								#foreach($var in $!ownerList)								
								  #if($!{var.id}==$!{supplier.enterprise.supplierOwner})							
								  		 <option selected value="$!{var.id}">$!{var.dictDataName}</option>
								  	#else
										 <option value="$!{var.id}">$!{var.dictDataName}</option>
									#end										
								#end
                        </select>	
                </td>
                </tr>
                <tr>
                <td class="font-gray">供应商所属地：</td>
                <td>
               <select name="enterprise.supplierHome" style="width:70px;margin:0px 0px 10px">
               			<option selected value="">请选择</option>
								#foreach($var in $!homeList)								
								  #if($!{var.id}==$!{supplier.enterprise.supplierHome})							
								  		 <option selected value="$!{var.id}">$!{var.dictDataName}</option>
								  	#else
										 <option value="$!{var.id}">$!{var.dictDataName}</option>
									#end										
								#end
                        </select>		
                </td>
                </tr>
                <tr>
                <td class="font-gray">供应商类型：</td>
                <td>
               <select name="enterprise.supplierType" class="" data-rule="required;nospecial;length[~32]">
								<option value="">请选择</option>
								#foreach($var in $!supplierTypeList)								
								  #if($!{var.id}==$!{supplier.enterprise.supplierType})							
								  		<option selected value="$!{var.id}">$!{var.dictDataName}</option>
								  	#else
										<option  value="$!{var.id}">$!{var.dictDataName}</option>
									#end																
								#end
                         </select>
                </td>
                </tr>
                <tr>
                <td class="font-gray">供应商级别：</td>
                <td>
               <select name="enterprise.level" class="" data-rule="required;nospecial;length[~32]">
								<option value="">请选择</option>
								#foreach($var in $!levelList)								
								  #if($!{var.id}==$!{supplier.enterprise.level})							
								  		<option selected value="$!{var.id}">$!{var.dictDataName}</option>
								  	#else
										<option  value="$!{var.id}">$!{var.dictDataName}</option>
									#end																
								#end
                         </select>
                </td>
                </tr>
            </tbody>	
            </table>
            </form>			
             <div class="mt10" style="text-align:center;">
             	#if($!{supplier.supplierStatus} != '1')
             	<button id="examine_btn" class="btn btn-gray mr10" type="button" onclick="examine_btn();">审核</button>
             	<button id="reject_btn" class="btn btn-gray mr10" type="button" onclick="reject_btn();">驳回</button>
             	#end
				<button id="back_btn" class="btn btn-gray mr10" type="button" onclick="back_btn();">返回</button>
			</div>			
        </div>
	</div>
</div>