/*===== 布局 =====*/
	html{overflow-y:scroll;}
	body{height:100%; min-width:1002px;}

	/*===== 基础子模块 =====*/
		.grid_m,
		.grid_s,
		.grid_e{display:inline; float:left;}

		.grid_m{width:100%;}

	
	/*===== 大布局 =====*/
		.grid_c1,
        .grid_c2,
		.grid_c2a,
		.grid_c2b,
		.grid_c3a{
			*zoom:1;
			margin:0 auto;
			width:1210px;
		}

		.grid_c1:after,
        .grid_c2:after,
		.grid_c2a:after,
		.grid_c2b:after,
		.grid_c3a:after{
			display:block;
			clear:both;
			content:"";
			visibility:hidden;
			height:0;
		}

	
	/*===== 2栏 =====*/
        /*===== 2栏宽度一样 =====*/
            .grid_c2 .grid_m_inner{margin-right:610px;}
            .grid_c2 .grid_s{margin-left:-600px;width:600px;}


		/*===== 左侧200像素 =====*/
			.grid_c2a .grid_m_inner{margin-left:153px;}
			.grid_c2a .grid_s{margin-left:-100%; width:143px;_margin-left:-1210px;}
			.ic_ie6 .grid_c2a .grid_s{margin-left:-1210px;}


		/*===== 右侧200像素 =====*/
			.grid_c2b .grid_m_inner{margin-right:342px;}
			.grid_c2b .grid_s{margin-left:-332px; width:332px;}


	/*===== 3栏 =====*/
		/*===== 左右各200像素，无间距 =====*/
			.grid_c3a .grid_m_inner{margin-left:190px; margin-right:200px;}
			.grid_c3a .grid_e{margin-left:-200px; width:200px;}
			.grid_c3a .grid_s{margin-left:-100%; width:190px;}
			.ic_ie6 .grid_c3a .grid_s{margin-left:-1190px;}
			


	/*===== 窄版 =====*/
		.ic_mini .grid_c1,
		.ic_mini .grid_c2a,
		.ic_mini .grid_c2b,
		.ic_mini .grid_c3a{width:990px;}

		.ic_ie6 .ic_mini .grid_c2a .grid_s{margin-left:-990px;}
		.ic_ie6 .ic_mini .grid_c3a .grid_s{margin-left:-990px;}


	/*===== 响应式 =====*/
		@media (max-width:1210px){
			.ic_rwd .grid_c1,
			.ic_rwd .grid_c2a,
			.ic_rwd .grid_c2b,
			.ic_rwd .grid_c3a{width:990px;}
		}
