/*===== 样式重置 =====*/
	html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}

	body{background-color:#FFF;}

	body,button,input,select,textarea,fieldset,label{font:12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; color:#666;}

	h1,h2,h3,h4,h5,h6{font-size:100%;}

	ul,ol{list-style:none;}

	fieldset,img{border:0 none;}

	img{-ms-interpolation-mode:bicubic;}

	i,em{font-style:normal;}

	table{border-collapse:collapse; border-spacing:0;}

	input,select,textarea,button{font-size:100%; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
	button,
	input[type=button],
	input[type=submit]{cursor:pointer;}
	input[type=search]{-webkit-appearance:textfield;}
	textarea{overflow-y:auto; resize:vertical;}

	
	/*===== 清除浮动 =====*/
	.clear,
	.clearfix{zoom:1;}
	.clear:after,
	.clearfix:after{
		content:' ';
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
	}


	/*===== 快捷样式类名 =====*/
	.hidden,
	.hide{display:none;}

	a{color:#333; text-decoration:none;}
	a:hover{text-decoration:underline;}

	a.lk_0{color:#317EE7;}
	a.lk_1{color:#D70000;}
	a.lk_2{color:#FF7300;}
	a.lk_3{color:#999999;}

	.c_tx0{color:#317EE7;}
	.c_tx1{color:#D70000;}
	.c_tx2{color:#FF7300;}
	.c_tx3{color:#999999;}

	.a_tx1{text-align:left;}
	.a_tx2{text-align:center;}
	.a_tx3{text-align:right;}

	.f_tx1{font-family:"\5FAE\8F6F\96C5\9ED1",tahoma;}

	.fm_int,
	.fm_tat{
		border:1px solid #D8DCE5;
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7F7F7),color-stop(0%,#F2F2F2),color-stop(10%,#FFFFFF),color-stop(100%,#FFFFFF));
	}