html, body {
    font-family: Verdana, Arial, Lucida, Helvetica, "\5B8B\4F53", "\5FAE\8F6F\96C5\9ED1", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #666
}

div, form, img, ul, ol, li, th, td, dl, dt, dd, button, input {
    margin: 0;
    padding: 0;
    border: 0
}

li {
    list-style-type: none
}

img {
    vertical-align: top
}

strong {
    font-weight: normal
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px
}

input {
    font-size: 12px;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center
}

.w10 {
    width: 10px
}

.w20 {
    width: 20px
}

.w30 {
    width: 30px
}

.w40 {
    width: 40px
}

.w50 {
    width: 50px
}

.w60 {
    width: 60px
}

.w70 {
    width: 70px
}

.w80 {
    width: 80px
}

.w90 {
    width: 90px
}

.w100 {
    width: 100px
}

.w120 {
    width: 120px
}

.w130 {
    width: 130px
}

.w140 {
    width: 140px
}

.w150 {
    width: 150px
}

.w160 {
    width: 160px
}

.w170 {
    width: 170px
}

.w180 {
    width: 180px
}

.w190 {
    width: 190px
}

.w200 {
    width: 200px
}

.w210 {
    width: 210px
}

.w250 {
    width: 250px
}

.w280 {
    width: 280px
}

.w300 {
    width: 300px
}

.w350 {
    width: 350px
}

.w380 {
    width: 380px
}

.w400 {
    width: 400px
}

.w500 {
    width: 500px
}

.w600 {
    width: 600px
}

.w700 {
    width: 700px
}

.w800 {
    width: 800px
}

.w900 {
    width: 900px
}

.width100 {
    width: 100%
}

.width50 {
    width: 50%
}

.widthAuto {
    width: auto
}

.h100 {
    height: 100px
}

.h150 {
    height: 150px
}

.h200 {
    height: 200px
}

.height100 {
    height: 100%
}

.heightAuto {
    height: auto
}

.mt-1 {
    margin-top: -1px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt40 {
    margin-top: 40px
}

.mt20 {
    margin-top: 20px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mb-1 {
    margin-bottom: -1px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb40 {
    margin-bottom: 40px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml20 {
    margin-left: 20px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr20 {
    padding-right: 20px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

.p20 {
    padding: 20px
}

.hidden {
    display: none
}

.d-b {
    display: block
}

.d-i {
    display: inline
}

.d-ib {
    display: inline-block
}

.p-r {
    position: relative
}

.p-a {
    position: absolute
}

.fl {
    float: left
}

.fr {
    float: right
}

.fnone {
    float: none
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.clear {
    clear: both
}

.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html .clearfix {
    height: 1%
}

.zoom {
    zoom: 1
}

.t-c {
    text-align: center
}

.t-l {
    text-align: left
}

.t-r {
    text-align: right
}

.v-t {
    vertical-align: top
}

.v-m {
    vertical-align: middle
}

.v-b {
    vertical-align: bottom
}

.o-h {
    overflow: hidden
}

.wrap {
    word-wrap: break-word
}

.no-wrap {
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden
}

.move {
    cursor: move
}

.pointer {
    cursor: pointer
}

.cur-def {
    cursor: default
}

.disabled {
    filter: alpha(opacity = 30);
    -moz-opacity: .3;
    opacity: .3;
    cursor: default;
    color: #777;
}

.l-h-20 {
    line-height: 20px
}

body {
    color: #666;
    background: #fff
}

body.red .grid-ex a: link, body.red .grid-ex a: visited, body.red .grid-ex a: hover {
    color: #e4393c;
    text-decoration: none
}

body.red #logo a {
    color: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.red #header {
    border-color: #e4393c;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    background-color: #e4393c
}

body.red #nav ul li.curr a {
    background: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    color: #e4393c
}

body.red #nav-ctrl span {
    background: #e4393c;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.red #nav-ctrl span: hover {
    background: #cc3134
}

body.red #nav-ctrl span.disable: hover {
    background: #e4393c
}

body.red .grid table tbody tr:hover td.status {
    background: #e4393c
}

body.red .menu-left .mt h3 {
    color: #e4393c
}

body.red .menu-left .mc ul li.curr h3 {
    color: #e4393c;
}

body.red .active {
    color: #fff;
    background: #e4393c;
    cursor: pointer;
    border: 0 !important;
    padding: 5px 12px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

body.red .active1: hover {
    background: #ff4144
}

body.red .active: active {
    opacity: .8
}

body.blue .grid-ex a: link, body.blue .grid-ex a: visited, body.blue .grid-ex a: hover {
    color: #0095cd;
    text-decoration: none
}

body.blue #logo a {
    color: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.blue #header {
    border-color: #0095cd;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    background-color: #0095cd
}

body.blue #nav ul li.curr a {
    background: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    color: #0095cd
}

body.blue #nav-ctrl span {
    background: #0095cd;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.blue #nav-ctrl span: hover {
    background: #33aad7
}

body.blue #nav-ctrl span.disable: hover {
    background: #0095cd
}

body.blue .grid table tbody tr:hover td.status {
    background: #0095cd
}

body.blue .menu-left .mt h3 {
    color: #0095cd
}

body.blue .menu-left .mc ul li.curr h3 {
    color: #0095cd
}

body.blue .active1 {
    color: #fff;
    background: #0095cd;
    cursor: pointer;
    border: 0 !important;
    padding: 4px 12px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-size: 12px;

}

body.blue .active1: hover {
    background: #00aef0
}

body.blue .active1: active {
    opacity: .8
}

body.green .grid-ex a: link, body.green .grid-ex a: visited, body.green .grid-ex a: hover {
    color: #66b131;
    text-decoration: none
}

body.green #logo a {
    color: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.green #header {
    border-color: #66b131;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    background-color: #66b131
}

body.green #nav ul li.curr a {
    background: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    color: #66b131
}

body.green #nav-ctrl span {
    background: #66b131;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.green #nav-ctrl span: hover {
    background: #599b2a
}

body.green #nav-ctrl span.disable: hover {
    background: #66b131
}

body.green .grid table tbody tr:hover td.status {
    background: #66b131
}

body.green .menu-left .mt h3 {
    color: #66b131
}

body.green .menu-left .mc ul li.curr h3 {
    color: #66b131
}

body.green .active {
    color: #fff;
    background: #66b131;
    cursor: pointer;
    border: 0 !important;
    padding: 5px 12px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

body.green .active: hover {
    background: #79d03b
}

body.green .active: active {
    opacity: .8
}

body.yellow .grid-ex a: link, body.yellow .grid-ex a: visited, body.yellow .grid-ex a: hover {
    color: #ffae00;
    text-decoration: none
}

body.yellow #logo a {
    color: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.yellow #header {
    border-color: #ffae00;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    background-color: #ffae00
}

body.yellow #nav ul li.curr a {
    background: #fff;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    color: #ffae00
}

body.yellow #nav-ctrl span {
    background: #ffae00;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

body.yellow #nav-ctrl span: hover {
    background: #d18200
}

body.yellow #nav-ctrl span.disable: hover {
    background: #ffae00
}

body.yellow .grid table tbody tr:hover td.status {
    background: #ffae00
}

body.yellow .menu-left .mt h3 {
    color: #ffae00
}

body.yellow .menu-left .mc ul li.curr h3 {
    color: #ffae00
}

body.yellow .active {
    color: #fff;
    background: #ffae00;
    cursor: pointer;
    border: 0 !important;
    padding: 5px 12px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

body.yellow .active: hover {
    background: #ffbd30
}

body.yellow .active: active {
    opacity: .8
}

.m {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.w {
    width: 100%;
    margin: 0 auto;
    padding: 0
}

#header {
    height: 42px;
    border-bottom: 2px solid #e4393c;
    display: block
}

body.blue #logo {
    float: left;
    padding: 5px 28px 0 15px;
}
body.blue #logo a {
    color: #FFFFFF;
    transition: all 0.4s ease-out 0s;
}
#logo a {
}
#logo a {
    background: url("i/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    line-height: 9999px;
    overflow: hidden;
    width: 188px;
}

#nav {
    float: left;
    width: 70%;
    overflow: hidden;
    height: 42px;
    position: relative;
    margin-top: 2px
}

#nav ul {
    padding-top: 16px
}

#nav ul li {
    float: left;
    position: relative
}

#nav ul li a {
    display: block;
    text-decoration: none;
    width: 98px;
    height: 26px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff
}

#nav ul li:after {
    content: "|";
    position: absolute;
    top: 7px;
    right: -2px;
    color: #ccc;
    text-shadow: 1px 0 0 #fff
}

#nav ul li.noafter:after {
    content: ""
}

#nav ul li.curr a {
    border-radius: 4px 4px 0 0;
    color: #FFF;
    background: #e4393c;
    font-weight: bold
}

#nav ul li.curr:after {
    content: ""
}

#nav-ctrl {
    float: left;
    position: relative;
    margin-left: -15px;
    padding-top: 16px
}

#nav-ctrl span {
    display: inline-block;
    width: 25px;
    margin-right: 1px;
    height: 26px;
    background: #e4393c;
    color: #FFF;
    line-height: 26px;
    font-size: 22px;
    text-align: center;
    font-family: Georgia;
    cursor: pointer
}

#nav-ctrl span.disable {
    cursor: default;
    color: #d7d7d7
}

#main {
    padding-top: 10px;
    background: #fff;
    position: relative;
    min-height: 600px
}

#left-side {
	position: relative;
	float: left;
	width: 208px;
	margin: 0 0 10px 10px;
	padding-bottom: 40px
}

#right-side {
	padding-bottom: 20px;
	margin-left: 230px;
	margin-right:10px;
}

.searchbox {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ededed;
    margin-bottom: 10px
}

.searchbox table {
    width: 100%;
    line-height: 200%
}

.searchbox table th {
    text-align: right;
    font-weight: normal
}

.searchbox table td {
    padding: 5px;
    text-align: left
}

.searchbox table td .btn-search {
    margin-right: 29px
}

.searchbox table td.t-r {
    text-align: right
}

.box-ctrl {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(i/close.png);
    background-repeat: no-repeat;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-left: 5px
}

.box-ctrl.delete {
    background-position: 0 0
}

.input {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 5px;
    height: 27px;
}

: : -webkit-scrollbar {
    width: 6px
}

: : -webkit-scrollbar-track-piece {
    background-color: #cbcbcb
}

: : -webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    -webkit-border-radius: 10px
}

input[type=date] {
    height: 16px;
    background: url(i/icon-calendar.png) no-repeat 90px 5px #fff
}

input[type=date] {
    -webkit-appearance: textfield
}

input[type=date]: : -webkit-inner-spin-button, input[type=date]: : -webkit-clear-button {
    display: none
}

input[type=date]: : -webkit-calendar-picker-indicator {
    display: none
}

input[type=date]: : -webkit-datetime-edit-fields-wrapper {
    display: none
}

input[type=date]: : -webkit-datetime-edit {
    height: 16px;
    background: url(i/icon-calendar.png) #fff no-repeat right top
}

.popup-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    top: 44px;
    left: 0;
    width: 100%
}

.popup-wrap .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent\9;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType = 1, startColorstr = '#0f000000', endColorstr = '#0f000000');
    zoom: 1
}

.popup-wrap .window {
    position: relative;
    width: 460px;
    top: 60px;
    margin: 0 auto
}

.popup-wrap .window .mt i.clothes {
    background: url(i/box-icon.png) no-repeat;
    background-position: -140px -43px
}

.popup-wrap .window .mc {
    padding: 0 10px
}

.popup-wrap .window .mc ul {
    overflow: hidden;
    margin-left: 30px
}

.popup-wrap .window .mc ul li {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    height: auto;
    line-height: 14px
}

.popup-wrap .window .mc ul li .pic {
    position: relative;
    width: 183px;
    height: 131px;
    border-radius: 5px;
    overflow: hidden
}

.popup-wrap .window .mc ul li .pic a: link, .popup-wrap .window .mc ul li .pic a: visited {
    color: #fff;
    text-decoration: none
}

.popup-wrap .window .mc ul li .pic .text {
    position: relative;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 5px 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    text-align: left
}

.popup-wrap .window .mc ul li .pic: hover .text {
    top: -24px
}

.popup-wrap .window .mc ul li .pic i.selected {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 33px;
    height: 33px;
    background: url(i/skin-icon-selected.png) no-repeat
}

.popup-wrap .window .mc ul li .skin-name {
    margin-top: 5px
}

.box-warp {
    background: #FFF;
    margin-bottom: 10px
}

.box-warp .mt {
    height: 40px
}

.box-warp .mt i.pen {
    background-position: -15px -14px
}

.box-warp .mt i.notice {
    background-position: -46px -14px
}

.box-warp .mt i.document {
    background-position: -78px -14px
}

.box-warp .mt i.proc {
    background-position: -13px -41px
}

.box-warp .mt i.calendar {
    background-position: -78px -42px
}

.box-warp .mt i.atom {
    background-position: -108px -14px
}

.box-warp .mt i.folder {
    background-position: -46px -41px
}

.box-warp .mt i.chart {
    background-position: -109px -41px
}

.box-warp .mt i.plus {
    background-position: -167px -41px
}

.box-warp .mt i.meeting {
    background-position: -234px -12px
}

.box-warp .mt i.information {
    background-position: -204px -43px
}

.box-warp .mt i.culture {
    background-position: -168px -13px
}

.box-warp .mt i.weather {
    background-position: -203px -12px
}

.box-warp .mt .fl {
    padding: 7px 0 0 10px
}

.box-warp .mt .fl i {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px
}

.box-warp .mt .fl b {
    vertical-align: middle;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1"
}

.box-warp .mt .fl em {
    vertical-align: middle;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    background: #e4393c;
    line-height: 16px;
    padding: 0 4px;
    font-style: normal
}

.box-warp .mt .fr {
    padding: 8px 14px 0 0
}

.inactive {
    color: #333;
    background: #e6e6e6;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 5px;
    font-size: 12px;
}

.wide #left-side {
    z-index: 200;
    position: absolute;
    width: 0;
    border: 0
}

.wide #left-side #change-theme {
    display: none
}

.wide #left-side .user-warp {
    display: none
}

.wide #left-side .panel-warp {
    display: none
}

.wide #left-side .mt {
    display: none
}

.wide #left-side .mc {
    display: none
}

.wide #left-side .resizer {
    width: 45px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    left: 0;
    *left: -65px
}

.wide #left-side .resizer .placeholder {
    display: block
}

.wide #left-side .resizer i {
    left: 2px;
    border-right-color: transparent;
    border-left-color: #fff
}

.wide #left-side .resizer: hover i {
    left: 4px
}

.wide #left-side .resizer.resizer-wide {
    left: -20px;
    width: 10px;
    font: 14px "Microsoft Yahei";
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.wide #left-side .resizer.resizer-wide .indicator {
    width: 10px;
    float: right
}

.wide #left-side .resizer.resizer-wide .indicator i {
    right: -2px;
    left: auto
}

.wide #left-side .resizer.resizer-wide .indicator: hover i {
    right: -4px
}

.wide #left-side .resizer.resizer-wide .hint {
    display: block;
    height: 100%;
    position: absolute;
    background: #fff;
    left: -35px;
    width: 25px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.wide #right-side {
    margin-left: 65px
}

.resizer {
    width: 10px;
    height: 100%;
    right: -11px;
    top: 0;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.resizer .placeholder {
    width: 15px;
    background: #fff;
    display: none;
    float: left;
    padding: 10px;
    font-size: 14px;
    font-weight: bold
}

.resizer .placeholder b {
    background: url("i/icon-arrow.png") no-repeat scroll -48px -11px;
    display: inline-block;
    width: 14px;
    height: 16px
}

.resizer .opt {
    height: 100%;
    width: 10px;
    float: right;
    position: relative
}

.resizer .opt: hover {
    background: #d3d2d2
}

.resizer .indicator {
    margin-top: 250px;
    height: 70px;
    width: 100%;
    background: #999
}

.resizer .indicator i {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 30px;
    left: -2px;
    border: 5px solid transparent;
    border-right-color: #fff;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out
}

.resizer: hover i {
    left: -4px
}

.resizer-wide {
    left: 209px;
    height: 1000px
}

.resizer-wide .hint {
    display: none
}

.resizer-wide i {
    left: 2px;
    border-right-color: transparent;
    border-left-color: #fff
}

.resizer-wide: hover i {
    left: -4px
}

.grid {
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 10px
}

.grid table {
    width: 100%
}

.grid table thead {
    background: #f2f2f2
}

.grid table thead th {
    padding: 10px;
    position: relative;
    cursor: pointer
}

.grid table thead th b {
    background: url(i/up-down.png) no-repeat;
    width: 7px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.grid table thead th .up {
    background-position: 0 -8px
}

.grid table tbody tr:hover td {
    background: #f3f3f3
}

.grid table tbody tr.todo .title a: link, .grid table tbody tr.todo .title a: visited {
    color: #e4393c
}

.grid table tbody tr: nth-child(even) {
    background: #fafafa
}

.grid table tbody td {
    padding: 8px 0
}

.grid table tbody td.title {
    text-align: left
}

.grid table tbody td.title a: link, .grid table tbody td.title a: visited {
    color: #333;
    text-decoration: none
}

.grid table tbody td.status {
    width: 3px
}

.grid table tbody td a {
    color: #0095cd;
    text-decoration: none
}

.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #d7d7d7;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    border-radius: 3px;
    font-weight: bold
}

.pagin .text, .pagin .current {
    border: 0;
    padding: 4px 11px
}

.pagin .text {
    color: #0095cd;
    padding: 4px 6px
}

.pagin a: link, .pagin a: visited {
    color: #0095cd;
    text-decoration: none
}

.pagin a: hover, .pagin a: active {
    background: #0095cd;
    color: #fff;
    text-decoration: none
}

.pagin .current, .pagin .current: link, .pagin .current: visited {
    color: #e4393c;
    font-weight: bold
}

.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled {
    position: relative;
    padding-top: 5px;
    height: 18px;
    line-height: 18px
}

.pagin .prev-disabled, .pagin .next-disabled {
    color: #ccc;
    cursor: default
}

.pagin .prev, .pagin .prev-disabled {
    padding-left: 12px
}

.pagin .next, .pagin .next-disabled {
    padding-right: 12px
}

.pagin .count {
    border: 0;
    padding-top: 0;
    margin-top: -2px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    font-weight: normal
}

.pagin .count input {
    height: 22px;
    margin: 2px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 2px 4px
}

.pagin .count input.inactive {
    height: 28px
}

.menu-left {
    height: 100%
}

.menu-left .mt {
    background: #f9f9f9;
    text-align: center;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #d9d9d9
}

.menu-left .mt h3 {
    font: 18px "Microsoft Yahei"
}

.menu-left .mc ul li h3 {
    height: 38px;
    background: url("i/icon-arrow.png") no-repeat scroll 140px 0 rgba(0, 0, 0, 0);
    font: 16px/38px "Microsoft Yahei";
    padding-left: 20px;
    cursor: default;
    color: #333;
    position: relative
}

.menu-left .mc ul li h3:hover {
    background-color: #fafafa
}

.menu-left .mc ul li h3 b {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    border-radius: 8px;
    background: #e4393c;
    color: #fff;
    font: normal 12px Verdana;
    position: absolute;
    right: 10px;
    top: 12px;
    min-width: 8px
}
/**wdx start**/
body.blue .menu-left .mc ul li ul li.curr {
    border-left-color: #0095CD;
    color: #0095CD;
}
.menu-left .mc ul li ul li {
    border-left: 3px solid #FFFFFF;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 0 12px 30px;
}
.menu-left .mc ul li.open h3{background-position:140px -36px}
.menu-left .mc ul li.open ul{display:block}.
/**wdx end**/
.page {
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 0
}

.page div {
    background: #efefef
}

.page div: hover {
    background: #999
}

.page .dis: hover {
    background: #efefef
}

.page .dis: hover a {
    background: url(i/tri.png) no-repeat;
    cursor: default
}

.page .dis: hover .up {
    background-position: 99px 4px
}

.page .dis: hover .down {
    background-position: 99px -10px
}

.page a {
    display: block;
    width: 206px;
    height: 13px;
    background: url(i/tri.png) no-repeat
}

.page .up {
    background-position: 99px 4px
}

.page .up: hover {
    background: url(i/tri-dis.png) 99px 4px no-repeat
}

.page .down {
    background-position: 99px -10px
}

.page .down: hover {
    background: url(i/tri-dis.png) 99px -10px no-repeat
}

.popup-wrap .window-confirm {
    width: 260px;
    color: #333
}

.popup-wrap .window-success {
    width: 220px;
    color: #333
}

.popup-wrap .window-success .mc {
    margin: 10px 0 50px 50px;
    line-height: 40px;
    background: url(i/s.png) no-repeat left top;
    padding-left: 50px
}

.popup-wrap .window-fail {
    width: 220px;
    color: #333
}

.popup-wrap .window-fail .mc {
    margin: 10px 0 50px 50px;
    line-height: 40px;
    background: url(i/f.png) no-repeat left top;
    padding-left: 50px
}

.brlum {
    height: 28px;
    line-height: 28px;
    color: #333
}

.brlum a {
    color: #999;
    text-decoration: none
}

.itxt {
    border: 1px solid #d7d7d7;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    height: 14px;
    margin: 0 10px
}

.f-gray {
    color: #999
}

.w480 {
    width: 480px
}

#quick-window {
    z-index: 9999
}

.btn-m {
    height: 30px;
    font-size: 14px;
    font-weight: bold
}

.note {
    height: 42px;
    font: 16px/42px "Microsoft Yahei";
    color: #000
}

.note img {
    border-radius: 3px;
    overflow: hidden;
    margin-right: 5px
}

.tip {
    height: 26px;
    line-height: 26px;
    background: #fff7d6;
    border: 1px solid #ffd394;
    padding-left: 10px;
    margin: 10px 0
}

.tip i {
    color: #ff8a00;
    font-family: verdana;
    margin: 0 3px;
    font-style: normal
}

.tip span {
    color: #999;
    margin: 0 5px
}

#tab .tab-btn {
    background: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
    position: relative
}

#tab .tab-btn ul {
    position: relative;
    top: 1px;
    height: 37px
}

#tab .tab-btn li {
    width: 152px;
    height: 37px;
    text-align: center;
    float: left;
    font: 14px/37px "Microsoft Yahei";
    cursor: default
}

#tab .tab-btn li b {
    font-weight: normal;
    border-radius: 8px;
    height: 16px;
    padding: 0 4px;
    color: #fff;
    background: #e4393c;
    margin-left: 10px;
    min-width: 8px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    font-size: 12px
}

#tab .tab-btn .curr {
    background: #fff;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin-left: -1px;
    color: #333
}

#tab .tab-con {
    /*padding: 10px 0 10px 10px */
    padding: 0
}

#tab1 .tab-btn1 ul {
    height: 42px
}

#tab1 .tab-btn1 li {
    padding: 0 10px;
    float: left;
    height: 26px;
    font: 14px/26px "Microsoft Yahei";
    cursor: default;
    margin-right: 10px
}

#tab1 .tab-btn1 li span {
    color: #ff8a00;
    margin-left: 5px
}

#tab1 .tab-btn1 .curr1 {
    background: #f2f2f2;
    border-radius: 5px
}

#tab1 .tab-con1 {
    /*     padding: 10px */
}

.flow-nav {
    position: relative;
    margin-top: 10px;
    z-index: 10
}

.flow-nav .tit {
    width: 90px;
    height: 29px;
    line-height: 29px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #0095cd;
    border-radius: 5px;
    font-weight: bold;
    cursor: default
}

.flow-nav .tit b {
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    vertical-align: middle
}

.flow-nav .curr-tit {
    background: #fff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0 none;
    z-index: 12;
    position: relative;
    color: #333
}

.flow-nav .curr-tit b {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #d9d9d9 transparent;
    margin-top: -6px
}

.flow-nav .con {
    display: none;
    position: absolute;
    border-radius: 5px 0 5px 5px;
    right: 0;
    top: 29px;
    padding: 10px 0;
    width: 345px;
    border: 1px solid #d9d9d9;
    background: #fff;
    color: #333
}

.flow-nav .con li {
    width: 104px;
    padding-left: 10px;
    float: left
}

.flow-nav .con li dt {
    font-weight: bold;
    padding-left: 10px;
    margin: 14px 0 6px
}

.flow-nav .con li dd a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    line-height: 26px
}

.flow-nav .con li dd a:hover {
    background: #1e95cd;
    color: #fff;
    border-radius: 3px
}


.inexbtn {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px 5px 5px 5px;
    color: #333;
    padding: 4 12px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle
}

.active-schbox {
    padding-bottom: 40px;
    position: relative;
    color: #333;
    overflow: hidden
}

.active-schbox .fix-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 5px 0 0;
    background: #f2f2f2
}

.active-schbox .fix-foot .ctrl {
    color: #0095cd;
    text-decoration: none;
    padding-top: 10px;
    margin-right: 10px
}

.active-schbox .fix-foot .ctrl b {
    width: 7px;
    height: 4px;
    background: url(i/tri.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.active-schbox .fix-foot .close b {
    background-position: 0 -4px
}

.hide {
    display: none
}

.tips {
    height: 42px
}

.sch-tit {
    font: 14px "Microsoft Yahei";
    margin-bottom: 10px;
    color: #333
}
.selectApp {
    vertical-align: middle;
    height: 28px;
    border: 1px solid #d9d9d9;
    border-width: 1px 27px 1px 3px;
    -webkit-border-image: url(i/select.png) 1 27 1 3 stretch repeat;
    -moz-border-image: url(i/select.png) 1 27 1 3 stretch repeat;
    -o-border-image: url(i/select.png) 1 27 1 3 stretch repeat;
    border-image: url(i/select.png) 1 27 1 3 fill stretch repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: '';
    border: 1px solid #d9d9d9\9;
    font-size: 12px;
    line-height: 20px;


}

@-moz-document url-prefix() {
	select {
	padding-top: 3px
}
} input[type=checkbox], input.checkbox {
      vertical-align: middle
  }

.al {
    text-align: left
}

.ar {
    text-align: right
}

.grid td .al {
    padding-left: 30px
}

.grid caption {
    line-height: 34px;
    padding-left: 10px;
    text-align: left
}

.ftx-01 {
    color: #e4393c
}

.grid-ex {
    line-height: 30px;
    height: 30px
}

.grid-ex .icon-more {
    margin-left: 3px
}

.ftx-05 {
    color: #0095cd
}

.ftx-04 {
    color: #ff8a00
}

.icon-more {
    display: inline-block;
    background-image: url(i/icon-more.png);
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle
}

.searchbox01 {
    background: 0;
    border: 0;
    padding-top: 0
}

.icon-sub, .icon-add {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    width: 15px;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    background-color: #fff
}

.icon-sub {
    margin-right: 3px
}

.icon-add {
    margin-left: 3px
}

.grid table tbody td a.icon-sub, .grid table tbody td a.icon-add {
    color: #333;
    text-decoration: none
}

.btns {
    text-align: center
}

.btns .btn-m {
    margin-left: 3px;
    margin-right: 2px
}

.poreative {
    position: relative
}

.s-flex {
    position: absolute;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    width: 360px;
    display: none;
    top: 25px;
    left: 0;
    height: 275px;
    overflow: auto
}

.s-flex dl {
    padding: 5px 10px
}

.s-flex dl dt {
    font-weight: bold;
    color: #333;
    height: 22px
}

.s-flex dl dd {
    color: #999;
    height: 22px
}

.s-flex dl.fhover {
    background-color: #f3f3f3
}

.crumbs {
    margin-bottom: 10px;
    padding-left: 10px;
    color: #333
}

.crumbs a: link, .crumbs a: visited, .crumbs a: hover {
    color: #333;
    text-decoration: none
}

.mline {
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    height: 12px;
    margin-bottom: 10px
}

.mline .mlinetxt {
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 6px;
    left: 10px;
    display: inline-block
}

.searchbox01 a: link, .searchbox01 a: visited, .searchbox01 a: hover {
    color: #0095cd;
    text-decoration: none
}

.btnindex {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px 5px 5px 5px;
    color: #333;
    padding: 0 15px;
    height: 27px;
    line-height: 25px;
    text-decoration: none;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.labelApp{
    font-size: 12px;
}
#bottom{
    margin-top:10px;
    position: fixed;
    background: #ffffff;
    width: 100%;
    bottom: 0;
    z-index:999;
    text-align:center;
}