.step_context {
    height: 60px;
    padding: 10px
}

.step_context ul {
    padding-top: 15px;
    padding-bottom:0px;
    padding-left:10px;
}

.step_context li {
    background: url(../image/step3.png) no-repeat;
    width: 152px;
    float: left;
    text-align: center;
    position: relative;
    height: 14px;
    z-index: 1
}

.step_context li a {
    display: block;
    top: 15px;
/*    left: 107px;*/
      left: 71px;
    color: #aaa;
/*    width: 80px;*/
     width: 152px;
    position: absolute
}

.step_context li a:link, .step_context li a:visited, .step_context li a:hover {
    color: #aaa;
    text-decoration: none
}

.step_context li.firstFinshStep_curr1 a:link, .step_context li.firstFinshStep a:link, .step_context li.coressStep a:link, .step_context li.finshStep a:link, .step_context li.firstFinshStep_curr1 a:visited, .step_context li.firstFinshStep a:visited, .step_context li.coressStep a:visited, .step_context li.finshStep a:visited, .step_context li.firstFinshStep_curr1 a:hover, .step_context li.firstFinshStep a:hover, .step_context li.coressStep a:hover, .step_context li.finshStep a:hover {
    color: #7abd54
}

.step_context li.dashedred, .step_context li.dashedgray {
    width: 0;
    z-index: 2
}

.step_context li.dashedred span, .step_context li.dashedgray span {
    background: url(../image/step3.png) no-repeat;
    display: inline-block;
    height: 12px;
    width: 70px;
    position: absolute;
    z-index: 9;
    left: 35px
}

.step_context li.dashedred span {
    background-position: -44px -71px;
    top: 1px
}

.step_context li.dashedgray span {
    background-position: -44px -140px;
    top: 0
}

.step_context li.firstFinshStep_curr1, .step_context li.firstFinshStep {
    width: 11px;
    height: 13px
}

.step_context li.firstFinshStep_curr1 a, .step_context li.firstFinshStep a {
    left: -70px
}

.step_context li.firstFinshStep_curr1 .prompt, .step_context li.firstFinshStep_curr1 .prompt01, .step_context li.firstFinshStep .prompt, .step_context li.firstFinshStep .prompt01 {
    width: 50px
}

.step_context li.finshStep, .step_context li.coressStep {
    background-position: -11px 0
}

.step_context li.firstFinshStep_curr1 {
    color: #7abd54
}

.step_context li.loadStep, .step_context li.last {
    background-position: -11px -210px
}

.prompt, .prompt01 {
    position: absolute;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: -28px;
    right: -25px;
    line-height: 22px;
    padding: 0 3px;
    width: 50px
}

.firstFinshStep_curr1 .prompt, .firstFinshStep_curr1 .prompt01 {
    left: -20px
}

.prompt {
    background-color: #7abd54
}

.prompt01 {
    background-color: #e4393c
}

.prompt s, .prompt01 s {
    position: absolute;
    width: 8px;
    height: 4px;
    background: url(i/icon-con.png);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    bottom: -4px;
    left: 22px
}

.prompt01 s {
    background-position: 0 -4px
}