## Created with IntelliJ IDEA.
## Desctription:表单行规则配置IFRAME
## User: yujiahe
## Date: 13-9-16
## Time: 下午2:48
#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('')/js/form/formItem_EditRowItem.js"></script>
<div class="alert alert-info" id="alert">
    行规则：在某明细表中，设定某个数值类型字段，由其他数值类型字段按照表达式计算得到。
</div>
<div id="newRowRules">
    <h6>新增行规则</h6>
    <input type="hidden" value="$!{formId}" id="mainFormId">


    <div class="form-horizontal">
        <div class="control-group" style="height: 40">
            <label class="control-label">明细表:</label>

            <div class="controls">
                <select id="sonForm">
                    <option value="0">请选择</option>
                    #foreach($!form in $!{sonFormList})
                        <option value="$!{form.Id}">$!{form.formName}</option>
                    #end
                </select>
            </div>

        </div>
        <div class="control-group rule-edit" style="height: 40;display:none;">
            <label class="control-label">表达式:</label>

            <div class="controls">
                <span class="" id="cptExpDesc"></span>
            ##            隐藏域存储compute_expression
                <span  style="display: none"  id="cptExp"></span>


            </div>

        </div>

        <div class="control-group rule-edit" style="height: 40;display:none;">
            <label class="control-label"></label>

            <div class="controls">
                <span class="text-info text-center ">例：金额 = 单价 * 数量，即将需要计算的字段放在第一位，后面紧跟表达式 </span>
            </div>
        </div>

    ##     选中子表下为数字类型的字段
        <div class="control-group rule-edit" style="height: 40;display:none;">
            <label class="control-label">字段:</label>

            <div class="controls">
                <span class="" id="numItem"></span>
            </div>

        </div>
    ##   操作运算符
        <div class="control-group operator" style="height: 40;display:none;">
            <label class="control-label">操作符:</label>

            <div class="controls">
                <a href="#" id="plus" class="text-info btn">＋</a>
                <a href="#" id="minus" class="text-info btn">－</a>
                <a href="#" id="multiply" class="text-info btn">×</a>
                <a href="#" id="division" class="text-info btn">÷</a>
                <a href="#" id="preBrackets" class="text-info btn">（</a>
                <a href="#" id="backBrackets" class="text-info btn">）</a>
                <a hidden="hidden" href="#" id="equal" class="text-info btn">＝</a>
            </div>

        </div>


        <div class="control-group rule-edit" style="height: 40;display:none;">
            <label class="control-label"></label>

            <div class="controls">
                <button id="delLastExp" class=" btn btn-success">退格</button>
                <button id="addCptExp" class=" btn btn-success">添加</button>
            </div>
        </div>

##        <div class="rule-edit" style="display:none">
##            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display"
##                   id="formItemCptExp" width="100%">
##            </table>
##        </div>
    </div>
</div>

<hr/>
<h6>已有行规则</h6>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display"
       id="mainFormItemTable" width="100%">
</table>

