#set($layout = "layout/null.vm")
<!DOCTYPE html>
<html>
<head>
<link href="#springUrl('/static/bootstrap/css/bootstrap.css')" rel="stylesheet" type="text/css"/>
<script type='text/javascript' src='#springUrl('')/static/common/js/jquery.js'></script>
<link href='#springUrl('/design/js/jquery-easyui/themes/bootstrap/easyui.css')' rel='stylesheet' type='text/css'/>
<script type="text/javascript" src="#springUrl('')/design/js/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="#springUrl('/js/form/formBusinessFieldItemUIDesign_displayedit.js')"></script>
<style type="text/css">
* {
	margin:0;
	padding:0; 
} 
ul {
	list-style-type: none;
	margin:8px 0 4px 0;
} 
li {
	margin-top:4px;
}
</style>
<script type="text/javascript">
	var baseUrl = "#springUrl('')";
	
	function returnInputTypeConfig(){
		var treeNode = parent.getFormuicomponentTreeSelectedNode();
		if(typeof(returnSettingConfig()) == 'undefined'){
			return ;
		}
		var inputConfig = {
			htmlInner : document.getElementById('htmlInner').value,
			inputType : treeNode[0].id	,
			inputTypeConfig : returnSettingConfig()
		};
		return inputConfig;
	}
</script>
<style>

</style>
</head>
<body>
<div style="width:600px;border:0px red solid">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr><td bgcolor="#f5f5f5" width="50" align="right" valign="middle">扩展代码&nbsp;&nbsp;&nbsp;&nbsp;<br/>CSS/JAVASCRIPT&nbsp;</td><td><textarea cols="120" rows="3" id="htmlInner">${htmlInner}</textarea></td></tr>
		<tr><td bgcolor="#f5f5f5" align="right" valign="top" height="200">组件属性&nbsp;</td><td valign="top">${settingWeb}</td></tr>
</table>
</div>
<input type='hidden' id='formId' name='formId' value='${formId}'/>
<input type='hidden' id='fieldId' name='fieldId' value='${fieldId}'/>
</body>
</html>