##################################
## 数据表库-数据表维护首页
##author：dongjian
##################################

<!-- 数据字典-数据项新增页JS -->
<script type="text/javascript" src="#springUrl('')/js/form/formBusinessField_update.js"></script>

<form id="form" method="POST" action="" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="fieldName">字段名称:</label>
            <div class="controls">
                <input type="text" id="fieldName" name="fieldName" value="$!{formBusinessField.fieldName}"  disabled />
                <input type="hidden" id="formBusinessFieldId" name="formBusinessFieldId" value="$!{formBusinessField.id}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="fieldChineseName">字段显示名称:</label>
            <div class="controls">
                <input type="text" id="fieldChineseName" name="fieldChineseName" value="$!{formBusinessField.fieldChineseName}" disabled />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputType">UI类型:</label>
            <div class="controls">
                <select name="inputType" id="inputType"  disabled>
                    <option value="">-=请选择=-</option>
                    #foreach($!{inputType} in $!{dictDataList})
                        #if($!{inputType.dictCode} == $!{formBusinessField.inputType})
                            <option  value="$!{inputType.dictCode}" selected>$!{inputType.dictName}</option>
                        #else
                            <option  value="$!{inputType.dictCode}" >$!{inputType.dictName}</option>
                        #end
                    #end
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">字段类型:</label>
            <div class="controls">
                <select name="dataType" id="dataType"  disabled>
                    <option value="">-=请选择=-</option>
                    #foreach($!{dataTypeInfo} in $!{dictDataInfoList})
                        #if($!{dataTypeInfo.dictCode} == $!{formBusinessField.dataType})
                            <option  value="$!{dataTypeInfo.dictCode}" selected>$!{dataTypeInfo.dictName}</option>
                        #else
                            <option  value="$!{dataTypeInfo.dictCode}" >$!{dataTypeInfo.dictName}</option>
                        #end
                    #end
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="length">长度:</label>
            <div class="controls">
                <input type="text" id="length" name="length" value="$!{formBusinessField.length}" disabled />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lengthDecimal">小数位长度:</label>
            <div class="controls">
                <input type="text" id="lengthDecimal" name="lengthDecimal" value="$!{formBusinessField.lengthDecimal}" disabled />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="defaultValue">默认值:</label>
            <div class="controls">
                <input type="text" id="defaultValue" name="defaultValue" value="$!{formBusinessField.defaultValue}" disabled />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sortNo">显示顺序:</label>
            <div class="controls">
                <input type="text" id="sortNo" name="sortNo" value="$!{formBusinessField.sortNo}" disabled />
            </div>
        </div>
        <div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="button" id="cancelUpdateField">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>
