<script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap-datepicker.js')"></script>
<script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap-datetimepicker.js')"></script>
<link href="#springUrl('/static/datatables/css/datepicker.css')" rel="stylesheet" type="text/css"/>
<link href="#springUrl('/static/datatables/css/datetimepicker.css')" rel="stylesheet" type="text/css"/>
<link href="#springUrl('/design/js/jquery-easyui/themes/bootstrap/easyui.css')" rel="stylesheet" type="text/css"/>

<!--富文本编辑器JS -->
<script type="text/javascript" src="#springUrl('')/static/editor/kindeditor.js"></script>
<script type="text/javascript" src="#springUrl('')/static/editor/lang/zh_CN.js"></script>
<script type="text/javascript" src="#springUrl('')/static/editor/plugins/code/prettify.js"></script>

<script type="text/javascript" src="#springUrl('')/design/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="#springUrl('')/js/app/bindData.js"></script>

${templateHtml}