#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('')/js/form/jss_test.js"></script>
<div class="navbar">
    <div class="navbar-inner">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left">
                <ul class="nav">
                    <li><a href="#"'>执行次数</a></li>
                    <li><input id="exeTimes" type="number" required="required" class="input-medium"></li>
                    <li><a href="#">模板文件</a></li>
                    <li>
	                    <select id="templatePath" class="easyui-combobox" >
	                        <option value="">请选择</option>
	                    </select>
	                    <input type="text" id="templatePath_text" style="display: none;">&nbsp;&nbsp;
                    </li>
                    <li><a href="#"'><input style="margin-bottom: 5px;" type="checkbox" id="pathType" value="1" onclick="changeType()"> 手动输入</a></li>
                    <li>&nbsp;&nbsp;</li>
                    <li>
                        <button id="exe" type="button" class="btn">执行</button>
                    </li>
                     <li>&nbsp;&nbsp;</li>
                    <li>
                        <button id="divClear" type="button" class="btn">清除</button>
                    </li>
                    <li>&nbsp;&nbsp;</li>
                </ul>
            </form>
        </div>
    </div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display"
       id="mainFormListTable" width="100%">
       <td>
       <textarea id="exeResult" rows="15" style="width: 900px;"></textarea>
       </td>
       </table>