/* -----------------------------------------------------------
	header
----------------------------------------------------------- */ 

#header
{
	margin: 0;
	padding: 0 0 0 0;
	background: #b0b0b0 url("../img/header_background.png") repeat;
}

/* -----------------------------------------------------------
	header -> logo
----------------------------------------------------------- */ 

#header #logo
{
	float: left;	
}

#header #logo h1
{
	margin: 6px 0 10px 0;
	padding: 0;
	color: #ffffff;
	font-size: 22px;
}

#header #logo a
{
	color: #ffffff;
	text-decoration: none;	
}

#header #logo a:hover
{
	color: #ffffff;
}

/* -----------------------------------------------------------
	header -> user
----------------------------------------------------------- */ 

#header ul#user
{
	margin: 0 0 30px 0;
	padding: 0;
	float: right;
}

#header ul#user li
{
	margin: 0;
	padding: 5px 12px 5px 12px;
	list-style: none;
	float: left;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #a5a5a5;
}

#header ul#user li.first
{
	border-left: none;	
}

#header ul#user li.last
{
	border-right: none;	
}

#header ul#user li a
{
	color: #4e4e4e;
	font-weight: bold;
	text-decoration: none;
}

#header ul#user li a:hover
{
	color: #376ea6;
	text-decoration: underline;
}

#header ul#user li.highlight a
{
	color: #ffffff;
}

#header ul#user li.highlight a:hover
{
	color: #376ea6;
}

#header #header-inner
{
	margin: 0;
	padding: 0;
	height: 40px;
	clear: both;
	position: relative;
	background: #003367 url("../img/header_inner.png") repeat-x;
	border-bottom: 6px solid #ffffff;
}

/* -----------------------------------------------------------
	header -> home
----------------------------------------------------------- */ 

#header #header-inner #home
{
	float: left;	
}

#header #header-inner #home a
{
	margin: 0;
	padding: 0;
	height: 40px;
	width: 46px;
	display: block;
	background: url("../img/button_home.png");
	background-position: 0 0;	
}

#header #header-inner #home a:hover
{
	background-position: 0 -40px;	
}

/* -----------------------------------------------------------
	header -> quick
----------------------------------------------------------- */ 

#header #header-inner #quick,
#header #header-inner #quick ul
{
	margin: 10px 5px 0 0;
	padding: 0;
	position: relative;
	float: right;
	list-style-type: none;
	list-style-position: outside;
}

#header #header-inner #quick li
{
	margin: 0 5px 0 0;
	padding: 0;
	position: relative;
	float: left;
}

#header #header-inner #quick li a
{
	top: 0;
	left: 0;
	padding: 0;
	height: 1%;
	display: block;
	clear: both;
	overflow: hidden;
	background: #336699 url("../img/quick_l.png") no-repeat top left;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#header #header-inner #quick li span
{
	top: 0;
	right: 0;
	margin: 0;
	padding: 10px 12px 8px 10px;
	height: 1%;
	display: block;
	float: left;
	background: url("../img/quick_r.png") no-repeat top right;
	border-left: 1px solid #3f6f9f;
}

#header #header-inner #quick li span.normal
{
	padding: 10px 12px 8px 12px;
	border: none;	
}

#header #header-inner #quick li span.icon
{
	top: 0;
	left: 0;
	padding: 8px 8px 4px 8px;
	background: url("../img/quick_l.png") no-repeat top left;
	border-left: none;
	border-right: 1px solid #2e5c89;
}

#header #header-inner #quick li a:hover
{
	background: #4e4e4e url("../img/quick_l_selected.png") no-repeat top left;
}

#header #header-inner #quick li a:hover span
{
	background: url("../img/quick_r_selected.png") no-repeat top right;
	border-left: 1px solid #545454;
}

#header #header-inner #quick li a:hover span.normal
{
	border: none;	
}

#header #header-inner #quick li a:hover span.icon
{
	background: url("../img/quick_l_selected.png") no-repeat top left;
	border-left: none;
	border-right: 1px solid #464646;
}

#header #header-inner #quick ul
{
	top: 29px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	display: none;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #666;
	border-top: 1px solid #003367;
	z-index: 100;
}

#header #header-inner #quick li ul li
{
	border-bottom: 1px solid #dddddd;	
}

#header #header-inner #quick li ul li.last
{
	border: none;	
}

#header #header-inner #quick li ul li a
{
	margin: 0;
	padding: 7px 9px 7px 9px;
	height: 1%;
	width: 182px;
	height: auto;
	display: block;
	float: left;
	background: #FFFFFF;
	color: #0066CC;
	font-weight: normal;
}

#header #header-inner #quick li ul li a.childs
{
	margin: 0;
	padding: 7px 9px 7px 24px;
	width: 167px;
	background: #FFFFFF url("../img/plus.png") no-repeat 8px 9px;
}

#header #header-inner #quick li ul li a:hover
{
	color: #000000;
	background: #FFFFFF;
}

#header #header-inner #quick li ul li a.childs:hover
{
	background: #FFFFFF url("../img/minus.png") no-repeat 8px 9px;
}

#header #header-inner #quick ul ul 
{
	top: auto;
}	

#header #header-inner #quick li ul ul 
{
	right: 200px;
}

#header #header-inner #quick li:hover ul ul, 
#header #header-inner #quick li:hover ul ul ul, 
#header #header-inner #quick li:hover ul ul ul ul 
{
	display: none;
}

#header #header-inner #quick li:hover ul, 
#header #header-inner #quick li li:hover ul, 
#header #header-inner #quick li li li:hover ul, 
#header #header-inner #quick li li li li:hover ul
{
	display: block;
}

/* -----------------------------------------------------------
	header corners
----------------------------------------------------------- */ 

#header #header-inner div.corner
{
	height: 6px;
	width: 6px;
	position: absolute;
	background: url("../img/header_inner_corners.png") no-repeat;
}

#header #header-inner div.tl
{
	top: 0;
	left: 0;
	background-position: 0 0;
}

#header #header-inner div.tr
{
	top: 0;
	right: 0;
	background-position: -6px 0;
}