##################################
## 数据字典-数据类别管理查看页面
##author：dongjian
##################################
#set($layout = "layout/null.vm")

<!-- 数据字典-数据类别管理详情页面JS -->
<script type="text/javascript" src="#springUrl('/js/dict/dicttype_update.js')"></script>

<form id="dictTypeForm" method="POST" action="" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="dictTypeName">类别名称:</label>
            <div class="controls">
                <input readonly  type="text" id="dictTypeName" name="dictTypeName" value="$!{dictType.dictTypeName}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dictTypeCode">类别编码:</label>
            <div class="controls">
                <input readonly type="text" id="dictTypeCode" name="dictTypeCode" value="$!{dictType.dictTypeCode} " readonly="true">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parentName">父类别:</label>
            <div class="controls">
                <select disabled name="parentName" id="parentName">
                    #if($!{dictType.parentId} == '')
                        <option  value="$!{dictType.parentId}" selected>数据字典类别</option>
                    #else
                        <option  value="$!{dictType.parentId}" selected>$!{dictType.parentName}</option>
                    #end
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dictTypeDesc">类别描述:</label>
            <div class="controls">
                <textarea readonly id="description" name="description" class="span8" rows="5">$!{dictType.description}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="modifier">操作人:</label>
            <div class="controls">
                <input readonly  type="text" id="modifier" name="modifier" value="$!{dictType.modifier}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="modifyTime">最后更新:</label>
            <div class="controls">
                <input readonly  type="text" id="modifyTime" name="modifyTime" value="$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!{dictType.modifyTime})">
            </div>
        </div>
    </div>
</form>
