##################################
## 文档-文件夹管理修改页面
##author：yaohaibin
##################################
#set($layout = "layout/null.vm")

<!-- 文档-文件夹管理首页JS -->
<script type="text/javascript" src="#springUrl('/js/doc/folder/wffolder_update.js')"></script>

<div class="form-horizontal" id="updateFolderForm">
    <div class="control-group" >
        <label class="control-label">文件夹名称：</label>
        <div class="controls">
            <input id="folderName" name="folderName" type="text" value="$!{wfFolder.folderName}"  data-rule="required;numberAndString;length[~20]" data-msg-length="文件名称太长了,最多支持20个字符"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">文件夹描述：</label>
        <div class="controls">
            <textarea id="folderDesc" name="folderDesc" rows="5" class="span12" data-rule="length[~200];fileName" data-msg-length="描述内容太多了,最多支持200个字符">$!{wfFolder.folderDesc}</textarea>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group" style="display: none">
        <label class="control-label">父节点ID：</label>
        <div class="controls">
            <input id="parentId" name="parentId" type="text" value="$!{wfFolder.parentId}"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group" style="display: none">
        <label class="control-label">ID：</label>
        <div class="controls">
            <input id="id" name="id" type="text" value="$!{wfFolder.id}"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="updateFloder" class="btn btn-success">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button id="cancelFloder" class="btn btn-success">取消</button>
        </div>
    </div>
</div>

