
.objectSelectOne{
    background-image: url("selectOne.png");
}

.objectSelectAll{
    background-image: url("selectAll.png");
}

.objectRemoveOne{
    background-image: url("removeOne.png");
}

.objectRemoveAll{
    background-image: url("removeAll.png");
}

.objectSelectOne,.objectSelectAll, .objectRemoveOne,.objectRemoveAll{
    background-position: center center;
    background-repeat: no-repeat;
    cursor: default;
    display: block;
    height: 30px;
    padding: 0 0 0 16px;
    width: auto;
}