body{margin:0px; padding:0px; font-size:12px; color:#666; background:url(../img/login-body-bg.png) no-repeat #e0efff; background-position:center -30px;
}
img{border:0px;}
table{border-collapse:collapse; font-size:12px;}
a:link{color:#666; text-decoration:none;}
a:visited{color:#666; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
.clear{clear:both;}


.logo{width:321px; height:71px; background:url(../img/logo.png) no-repeat; position:absolute; top:30px; left:30px;}
.login{width:925px; height:441px; background:url(../img/login-bg.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-462px; margin-top:-120px;}

.text{width:130px; border:0; background:none; margin:0 5px;}

.btn-submit{width:66px; height:26px; border:0; background:url(../img/login-submit.png) no-repeat; margin-right:20px;}
.btn-reset{width:66px; height:26px; border:0; background:url(../img/login-reset.png) no-repeat; margin-left:20px;}

.bottom{line-height:30px; text-align:center; background:url(../img/bottom.png) repeat-x; font-family:Arial, Helvetica, sans-serif;}
