<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="#springUrl('/static/bootstrap/css/bootstrap.css')" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="#springUrl('/static/common/js/jquery.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap.min.js')"></script>
	 <!-- validate -->
	<script type="text/javascript" src="#springUrl('/static/common/js/jqBootstrapValidation.js')"></script> 
</head>
<body >
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<div>
 $screen_content

</div>
</body>
</html>

