#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('')/js/system/dataPermission_list.js"></script>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display" id="sysdataPermissionList"
       width="100%"></table>