#set($layout = "layout/empty.vm")
<script type="text/javascript" src="#springUrl('')/js/system/operationLog_index.js"></script>


<div class="well form-inline">
	<div id="searchform" class="row-fluid n-validator n-yellow" novalidate="true">
		<div class="span12">
			<div class="row-fluid">
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">操作人:&nbsp;&nbsp;&nbsp;</label>
							<input id="creator" type="text" value="" class="span8"/>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">业务对象:</label>
							<select id="entityName" class="span8"></select>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">描述:</label>
							<input id="description" type="text" value="" class="span6"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">操作时间:</label>
							<input id="startTime" type="text" value="" class="span8" readonly="true"
                                   onFocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',
                                           maxDate:'#F{$dp.$D(\'endTime\')||\'\'}'})"/>
						</div>
					</div>
				</div>
				
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">至:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<input id="endTime" type="text" value="" class="span8" readonly="true"
                                   onFocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')||\'\'}'})"/>
						</div>
					</div>
				</div>
				<div class="span2">
					<div class="control-group">
						<div class="controls">
							<label class="control-label">IP:&nbsp;&nbsp;&nbsp;</label>
							<input id="clientIp" type="text" value="" class="span8"/>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<button id="search" type="button" class="btn">搜索</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display" id="sysoperationlog"
       width="100%"></table>