##################################
## 组织架构-查看页面
##author：xulin
##################################
#set($layout = "layout/null.vm")

<form id="inputForm">
    <div class="form-horizontal">
	<div class="control-group">
        <label class="control-label">编码：</label>
        <div class="controls">
    	  <input type="text" id="id" name="id" value="$!{organization.id}" disabled />
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">名称：</label>
        <div class="controls">
    	  <input type="text" id="organizationName" name="organizationName" value="$!{organization.organizationName}" disabled />
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">全称：</label>
        <div class="controls">
            <textarea id="organizationFullname" name="organizationFullname" rows="5" maxlength="50" disabled>$!{organization.organizationFullname}</textarea>
        </div>
    </div>
    </div>
</form>
