<head>
	<script type="text/javascript" >
		var baseUrl = "#springUrl('')";
		var resourceId = "${resourceId}";
		var resourceCode = "${resourceCode}";
		var resourceName = "${resourceName}";
	</script>
	<script type="text/javascript" src="#springUrl('/js/system/privilege_add.js')"></script>
</head>
 <div id="addPrivilege">
 	<div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">操作名称 :</label>
        <div class="controls">
           ${selectOperation}
          <p class="help-block"></p>
        </div>       
      </div> 
    </div>
	<div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">操作编码 :</label>
         <div class="controls">
          <input type="text" id="operationCode" disabled name="operationCode" size="100px" data-rule="required;" />
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">权限编码 :</label>
         <div class="controls">
          <input type="text" id="privilegeCode" name="privilegeCode" size="100px" data-rule="required;" />
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">权限名称:</label>
         <div class="controls">
          <input type="text" id="privilegeName" name="privilegeName" size="100px" data-rule="required;" />
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">url :</label>
        <div class="controls">
          <textarea id="url" name="url" cols="50" rows="2">${url}</textarea>
          <p class="help-block"></p>
        </div>       
      </div> 
    </div>
    <input type="hidden" id="operationId" name="operationId" value="" />
    <input type="hidden" id="id" name="id" value="" />
</div> 
