#set($layout = "layout/null.vm")
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- CSS -->
     <link href="#springUrl('/static/datatables/css/TableTools.css')" rel="stylesheet" type="text/css"/>
    <link href="#springUrl('/static/datatables/css/jquery.dataTables.bootstrap.css')" rel="stylesheet" type="text/css"/>
    
	
	    <script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery.dataTables.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/TableTools.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery.dataTables.bootstrap.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery-ui-1.9.2.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery.dataTables.rowReordering.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/common/js/Tables.js')"></script>
	<script>
		var baseUrl = "#springUrl('')";
		//var addressConfig = "${addressConfig}";
		var currentProcessInstanceId = "${currentProcessInstanceId}";
	</script>
	<style>
		ul.ztree {
			height: 500px;
			overflow : auto;
		}
		.dataTables_length{
			/*display : none;*/
		}
		.row-fluid .span6 {
   			 width: 100%;
		}
		#loading{
			position:absolute;
			left:40%;
			top:40%;
			padding:2px;
			z-index:20001;
		    height:auto;
		}
		#loading img {
		    margin-bottom:5px;
		}
		#loading .loading-indicator{
			background:white;
			color:#555;
			font:12px tahoma,arial,helvetica;
			padding:10px;
			margin:0;
		   text-align:center;
		   height:auto;
		}
	</style>
	<script type="text/javascript" src="#springUrl('')/js/system/user_getByProcessInstanceId.js"></script>
</head>


	<body >
	  <div id="loading" style="display:;">
		<div class="loading-indicator"><img src="#springUrl('')/static/common/img/waiting.gif" width="30" height="30" style="margin-right:8px;" align="absmiddle"/>正在加载数据，请稍候...</div>
	</div>
	<div id="mainPanel" style="display:none;">
		<table width="100%">
			<tr>
				<td>
                    
                    
                    
                    	<div class="form-horizontal">
						      <div class="control-group" style="text-align:left">
						        <label class="control-label" style="width:70px;">用户：</label>
						         <div class="controls" style="margin-left:0;">
						          <label ><input id="userName" type="text"  width="100px"><input id="searchUser" type="button" class="btn" value="搜索" /></label>
						        </div> 
						      </div>
						    </div>
						                    
                    
                   </td>
			</tr>
			<tr>
				<td valign="top" align="left">
					<div style="border:0px solid gray;overflow:hidden;height:3200px;max-height:500px;">
						<table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="orgUserDataTable" width="550px"  ></table>
					</div>
				</td>
			</tr>
		</table> 
	    </div>   
    </body>
</html>