#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
<script type="text/javascript" src="#springUrl('')/static/common/js/jquery.js"></script>
<script type="text/javascript" src="#springUrl('')/static/common/js/common.js"></script>
<script type="text/javascript" src="#springUrl('')/design/js/jquery-easyui/jquery.easyui.min.js"></script>
<link href="#springUrl('')/design/js/jquery-easyui/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css"/>
<link href="#springUrl('')/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
 <script type="text/javaScript">
        var dataSourceId = '${dataSourceId}';
        var formId = "${formId}";
        ${javascript}
  </script>
</head>
<body>
<div style="padding: 4px 10px">
	${queryCondition}
</div>
<div id="dynDictionaryDataGrid"></div>
<script type="text/javaScript">
       ${javascript}
</script>
</body>
</html>