#set($layout = "layout/default.vm")
<script language="JavaScript" src="#springUrl('')/js/di/cc/if_index.js"></script>
<div class="navbar">
    <div class="navbar-inner">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left">
                <ul class="nav">
                    <li><a href="#">名称:</a></li>
                    <li><input id="interfaceNameSearchText" type="text" class="input"></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <button id="search" type="button" class="btn">搜索</button>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </form>
        </div>
    </div>
</div>
<table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="interface_table" width="100%"></table>