body { background: #F2F1EC; text-align:center;}
.login { margin-left:auto; margin-right:auto; margin-top:50px; width: 345px; height: 250px; background: url(../img/loginbg.png); overflow: hidden; position: relative; text-align:left;}
.login .label { color: #ffffff; width: 70px; height: 30px; font-size: 18px; font-weight: bolder; margin-left: 130px; margin-top: 8px; line-height: 30px; text-align: center; }
.login .warn {display:block; margin-top: 30px;height:20px;line-height:20px; padding-left: 100px; overflow:hidden;}
.login .con { width: 320px; margin-top: 10px; padding-left: 40px; overflow: hidden; }
.login .con .subCon { width: 300px; height: 20px; overflow: hidden; margin-bottom: 10px; }
.login .con .subCon span { float: left; }
.login .con .subCon span input { width: 129px; }
.login .con .subCon span.subWarn { color: #ff0000; margin-left: 10px; }
.login .con .subCon .subLabel { width: 66px; text-align: right; }
.login .buttons { width: 190px; height: 35px; position: absolute; bottom: 8px; left: 80px; }
.login .buttons input { width: 85px; height: 30px; float: left; margin-left: 15px;}
.login .buttons input.submit { margin-left: 0; }
