<template>
    <div id="app">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="button" v-on:click="doLogin()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data(){     //data must be a function. it's equal "data:function(){ return {}}"
            return {
                'name':'nnnnn',
                'password':'pppp',
                'nameHint':'',
                'pwdHint':''
            }
        },
        methods:{
            doLogin(){
                this.$axios.post('/login').then(r=>{
                    this.$router.push('/');
                }).catch(r=>{
                    this.$router.push('/');     //TODO allow to login anyway.
                });
            }
        }
    }
</script>

<style scoped>
#app {
    text-align: center; width: 30%; margin: auto;
}
</style>