<template>
    <el-footer class="footer">
        Copyright@2019 蚂蚁金服体验技术部出品
    </el-footer>
</template>

<script>
    export default {
        name: "TheFooter"
    }
</script>

<style scoped>
.footer{
    text-align: center;
    font-size:12px;
}
</style>