<template>
    <div class="sidebar">
        <div class="logo">
            <img src="../assets/logo.gif" alt=""/>
            <div style="font-size:20px; color:white;">Ant Design Pro</div>
        </div>
        <!-- default-active前加冒号表示v-bind:,否则表示该属性只是个字符串. get1stMenu调用的是computed方法,不是methods,不需要加括号 -->
        <el-menu
                style="height: 100%;"
                mode="vertical"
                 router
                 :default-active="get1stMenu"
                 background-color="#545c64"
                 text-color="#fff"
                 active-text-color="#ffd04b"
        >
            <template v-for="(m, index) in menus">
                <el-submenu v-if="m.children && m.children.length>0" index="nameless">
                    <template slot="title">
                        <span>{{m.name}}</span>
                    </template>
                    <el-menu-item v-for="(child,childIndex) in m.children" :index="child.url">
                        <span slot="title">{{child.name}}</span>
                    </el-menu-item>
                </el-submenu>

                <el-menu-item v-else :index="m.url">
                    <span slot="title">{{m.name}}</span>
                </el-menu-item>
            </template>
        </el-menu>
    </div>
</template>

<script>
    export default {
        name: "TheLeft",
        data() {
            return {
                menus : []
            }
        },
        mounted() {
            this.init();
        },
        methods:{
            init(){
                this.$axios.get('/left-menu').then((r) => {
                    this.menus=r.data;
                });
            }
        },
        computed:{
            get1stMenu(){
                for(let m in this.menus){
                    if(m.url && m.url!=null) return m.url;
                }
            }
        }

    }
</script>

<style scoped>
    .sidebar{
        height: 100vh; overflow-y: hidden;
    }
    .logo{
        background-color:darkgray; padding:0; height:60px;
    }
</style>