#div{height:auto; width:320px; position:relative; left:50%; margin-left:-160px; border:1px solid #CCCCCC; margin-top:0px;}
.text1{width:120px; height:20px; border:1px solid #66CCFF;}
.btn{width:45px; height:20px; border:1px solid #66CCFF; margin-right:3px;}
#head{width:320px; height:50px; background:url(../../img/head_bg.jpg) repeat-x; border-bottom:1px solid #CCCCCC; float:none; clear:both;}
#neck{width:304px; height:30px; float:none; clear:both; color:#999999; padding:0px 8px 0px 8px; background:url(../../img/neck_bg.jpg) repeat-x;}
.neck_kid{width:60px; height:30px; text-align:center; line-height:30px; margin:0px; float:left; font-size:12px; font-weight:bold; color: #3366CC;}
.neck_kid a:link,a:visited{ color:#3366CC; text-decoration:none;}
.neck_kid a:hover{ color: #663333; text-decoration:underline;}
.neck_fenge{width:1px; float:left; height:30px; line-height:30px;}
#neck2{width:320px; margin:0px;}
#menu{width:320px; margin-top:0px; height:40px; font-size:12px; color:#999999;}
#menu ul{ padding:0px; float:left; list-style-type:none; margin:0px;}
#menu li{ padding-left:15px; line-height:20px; width:305px;}
#menu a:link,a:visited{ color: #999999; text-decoration:none;}
#menu a:hover{ color: #333; text-decoration: underline;}

#body{height:auto; width:310px; background:url(../../img/body_bg.jpg) top repeat-x; padding:5px; float:none; clear:both;}
.td_1{width:70px; height:30px; color:#3399CC; background:url(../../img/tab_1.jpg) repeat-x; text-align:center; font-size:12px; line-height:30px; font-weight:bold;}
.td_1 a {color:#0000FF; text-decoration:none; }
.td_1 a:hover {color:#999999;text-decoration:underline;}
.td_2{width:20px; height:30px;}
.td_3{width:210px; height:30px; background:url(../../img/tab_3.gif) repeat-x; line-height:30px; padding-right:10px; text-align:right; font-size:12px;}
.tab{width:310px; height:30px; margin:0px; border-bottom:1px solid #CCCCCC;}
.tui_nei{width:310px; margin:0px 0px 10px; height:200px;}
.tui_nei_kid{width:60px; height:90px; margin-left:14px; margin-top:10px; float:left; font-size:12px; text-align:center;}
.tui_nei_kid a:link,a:visited{color:#999999; text-decoration:none;}
.tui_nei_kid a:hover{color:#3399CC; text-decoration:underline;}
.tui_nei_kid img{ width:48px; height:48px; margin:3px 6px; border:0px solid #CCCCCC;}
.game_tui{width:310px; margin:0px 0px 10px; height:auto;}
.game_tui_kid{width:290px; height:48px; margin-left:10px; margin-top:10px;}
.game_img{width:48px; height:48px; border:0px solid #CCCCCC; float:left; margin-right:3px;}
.game_img img{width:48px; height:48px;}
.game_wenzi{width:237px; height:48px; line-height:48px; border-bottom:1px solid #CCCCCC; float:left; margin:0px; font-size:12px;}
.game_wenzi a:link,a:visited{color:#999999; text-decoration:none;font-size:12px;height:48px; line-height:48px;}
.game_wenzi a:hover{color:#3399CC; text-decoration:underline;font-size:12px;}
#foot{width:304px; height:30px; color:#999999; padding:0px 8px 0px 8px; margin-right:auto; float:none; background:url(../../img/neck_bg.jpg) repeat-x; text-align:center; font-size:12px; line-height:30px;}
.btn{ width:50px; height:30px; float:right;}
.app{width:310px; margin:0px 0px 10px; height:180px;}
.detailed{width:310px; margin:0px 0px 10px; }
.detailed_jieshao{width:290px; margin:0px 0px 10px 10px; float:none;}
.jieshao_wenzi{ margin-left:10px; width:290px; border-bottom:1px solid #CCCCCC; float:left; margin:0px; font-size:12px;}

.page{width:300px; margin-left:10px; text-align:center; font-size:13px; color:#000;}
.page a:link,a:visited{ color:#66CCFF; text-decoration:none;}
.page a:hover{ color:#999; text-decoration:underline;}
.jieshao_wenzi img{ float:right; width:120px; height:160px;}