@charset "utf-8";
/* CSS Document */

.allbody{ margin-left:0px; margin-top:0px;}

.ddv{list-style-type:none; float:left;}

.nnal ul li{list-style-type:none;}

.nnal{
	width:80%;
	float:left;
	position:absolute;
	left: -30px;
	height:93%;
	}

.div1{ float:left;}

.div2{float:left; padding-top:5px; padding-right:22px; padding-bottom:30px;}

.img4{width:66px; height:66px;}

.img{width:48px; height:48x;}

.STYLE20{padding-top:5px; padding-left:0px;}

.STYLE18 {font-family: "宋体"; font-size: 14px; font-weight: bold; padding-left:3px;}

.STYLE1{font-family: "宋体"; color:rgb(50,50,50); font-size: 13px;}

.STYLE14 {color: #FF0000; font-weight: bold;}

.STYLE13 {padding-left:6px; padding-bottom:16px; }

.STYLE19 {padding-left:5px; padding-top:5px;}

.STYLE22{ font-family:"宋体"; font-size:13px; color:#000000; padding-left:116px;}

.STYLE23{border:solid 1px rgb(159,159,159); height:19px; width:160px; padding-bottom:4px;}

.dvd2{float:left; padding-top:5px; padding-right:33px; padding-bottom:15px; }

.dvd1{float:left; }

.dvd3{padding-left:40px; font-size:13px; padding-top:5px;}

.dd{
	height:19px;
	position:absolute;
	font-size:13px;
	top: 50px;
	left: 123px;
	display:none;
}
