/*弹出*/
.tanchubjlei {background: url(../../img_woshop/prompt-box.png) no-repeat -4px -105px white;width: 175px;padding: 6px 14px 10px 6px;height:74px;
overflow:hidden;z-index:9999;}
.tanchubj {background:url(../../img_woshop/prompt-box.png) no-repeat 0px 0px;width:166px;padding:6px 6px 10px 22px;height:166px;overflow: hidden;z-index:1280;}
.popUp font {color:#222;font-size:14px;margin-bottom:8px;font-weight: normal;display:block; }
.popUp span {color:#666;font-size:12px;display:block;margin-bottom:6px;padding:6px 5px -20px 0px;}
.popUp span .floatright {margin-left:19px;color:#FC9E7A;font-size:12px;}