.softindex{
	clear:both;
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
.softindex ul {
	overflow: hidden;
	padding-bottom:0px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0;
	padding-top: 0px;
	padding-left: 13px;
	padding-right: 13px;
}
.softindex ul li {
	float: left;
	border-bottom: 1px #E1E4E5;
	color: #666;
	float: left;
	height: 79px;
	overflow: hidden;
	text-align: center;
	width: 101px;
	position: relative;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.softindex ul li a:hover{ background:none;}
.softindex ul .ico {
height: 50px;
overflow: hidden;
width: 50px;
text-align: center;
display: block;
margin: 0 auto;
z-index: 50;
}

.softindex-1{
	clear:both;
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
.softindex-1 ul {
	overflow: hidden;
	padding-bottom:0px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0;
	padding-top: 0px;
	padding-left: 9px;
	padding-right: 9px;
}
.softindex-1 ul li {
	float: left;
	border-bottom: 1px #E1E4E5;
	color: #666;
	float: left;
	height: 74px;
	overflow: hidden;
	text-align: center;
	width: 111px;
	position: relative;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
}
.softindex-1 ul li a:hover{ background:none;}
.softindex-1 ul .ico {
height: 50px;
overflow: hidden;
width: 50px;
text-align: center;
display: block;
margin: 0 auto;
z-index: 20;
}
