.softindex{
	clear:both;
	width:100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 3px;
	height: 175px;
}
.softindex ul {
	overflow: hidden;
	padding-bottom:0px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0;
	padding: 0px;
	height: auto;
}
.softindex ul li {
	float: left;
	border-bottom: 1px #E1E4E5;
	color: #666;
	float: left;
	height: 120px;
	overflow: hidden;
	text-align: center;
	width: 50%;
	position: relative;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 2px;
	left: 0%;
}
.softindex ul li a:hover{ background:none;}
.softindex ul .ico {
height: 50px;
overflow: hidden;
width: 50px;
text-align: center;
display: block;
margin: 0 auto;
z-index: 50;
}

.softindex-1{
	clear:both;
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
.softindex-1 ul {
	overflow: hidden;
	padding-bottom:0px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0;
	padding: 10px;
}
.softindex-1 ul li {
	float: left;
	border-bottom: 1px #E1E4E5;
	color: #666;
	float: left;
	height: 100px;
	overflow: hidden;
	text-align: center;
	width: 83px;
	position: relative;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 2px;
}
.softindex-1 ul li a:hover{ background:none;}
.softindex-1 ul .ico {
height: 50px;
overflow: hidden;
width: 50px;
text-align: center;
display: block;
margin: 0 auto;
z-index: 50;
}
#tagContent #tagContent0 #weekly-recmd #weekly-recmd-views strong #weekly-recmd-views {
	font-size: 18px;
}
.ztd1 center table tr td div {
	font-size: 18px;
	font-weight: bold;
}
