A:link {
	COLOR: rgb(58,132,201); TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px;COLOR: #666666
}
TABLE {
	MARGIN: 0px;FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
.nosearchtest {
	COLOR: red; FONT-SIZE: 12px
}

.sjsn {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-LEFT: 3px; OVERFLOW: hidden; MARGIN-RIGHT: 3px; PADDING-TOP: 0px
}
.phone-bibei-kid {
	POSITION: relative; WIDTH: 65px; HEIGHT: 100%
}
.phone-bibei-kid-checkbox {
	POSITION: absolute; TOP: -7px; LEFT: -7px
}
.yjaztext {
	COLOR: rgb(0,0,0); FONT-SIZE: 12px
}
.phbc {
	BORDER-BOTTOM-COLOR: rgb(194,194,194); BORDER-TOP-COLOR: rgb(194,194,194); BORDER-RIGHT-COLOR: rgb(194,194,194); BORDER-LEFT-COLOR: rgb(194,194,194)
}
.phpage {
	MARGIN-RIGHT: 80px
}

.detailtijiao {
	COLOR: rgb(102,102,102); FONT-SIZE: 12px
}

.tabledetailboder {
	
}
.tablelist {
	BORDER-TOP: rgb(204,204,204) 1px
}
.start {
	TEXT-ALIGN: right; COLOR: rgb(255,153,0); MARGIN-LEFT: 5px; FONT-SIZE: 12px; MARGIN-RIGHT: 10px
}

.start1 {
	TEXT-ALIGN: center; COLOR: rgb(255,153,0); FONT-SIZE: 12px
}
.startflag {
	FLOAT: left
}
.icon {
	MARGIN: 0px
}
.icon IMG {
	MARGIN: 0px 10px; WIDTH: 50px; HEIGHT: 50px
}
.icon1 {
	MARGIN: 0px
}
.icon1 IMG {
	MARGIN: 0px 10px; WIDTH: 40px; HEIGHT: 40px
}
.icon2 {
	MARGIN: 0px
}
.icon2 IMG {
	MARGIN: 10px 0px; WIDTH: 60px; HEIGHT: 60px
}
.etalbe {
	
}
.toptr {
	BACKGROUND-COLOR: rgb(146,146,146)
}
.listDataTrBoth {
	BACKGROUND-COLOR: rgb(231,238,241); HEIGHT: 20px
}
.az {
	COLOR: rgb(255,255,255)
}
.btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 1px; PADDING-LEFT: 2px; WIDTH: 56px; PADDING-RIGHT: 2px; FONT-FAMILY: "????"; BACKGROUND: url(../../img_woshop/btn_bg1.png); COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none;BORDER-RIGHT: medium none; PADDING-TOP: 2px
}
.bttn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 1px; PADDING-LEFT: 2px; WIDTH: 56px; PADDING-RIGHT: 2px; FONT-FAMILY: "????"; BACKGROUND: url(../../img_woshop/btn_bg1.png); COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none;BORDER-RIGHT: medium none; PADDING-TOP: 2px
}
.dbtn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 60px; FONT-FAMILY: "????"; BACKGROUND: url(../../img_woshop/tj.png); HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#outdiv {
	BORDER-LEFT: rgb(204,204,204) 0px solid; BORDER-RIGHT: rgb(204,204,204) 0px solid
}
.all {
	BORDER-LEFT: rgb(204,204,204) 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 248px; PADDING-RIGHT: 0px; HEIGHT: 86px; PADDING-TOP: 0px
}
.all1 {
	BORDER-LEFT: rgb(204,204,204) 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 190px; PADDING-RIGHT: 0px; HEIGHT: 86px; PADDING-TOP: 0px
}
.left {
	PADDING-BOTTOM: 23px; PADDING-LEFT: 5px; WIDTH: 50px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 50px; PADDING-TOP: 23px
}
.middle {
	LINE-HEIGHT: 28px; WIDTH: 90px; FLOAT: left; HEIGHT: 96px
}
.middlediv {
	LINE-HEIGHT: 20px
}
.right {
	TEXT-ALIGN: center; PADDING-BOTTOM: 38px; PADDING-LEFT: 3px; WIDTH: 64px; PADDING-RIGHT: 3px; FLOAT: left; HEIGHT: 21px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.pagediv {
	WIDTH: 18px; BACKGROUND: rgb(0,204,204); FLOAT: left; HEIGHT: 18px;}
.STYLE2 {
	FONT-SIZE: 12px
}
.STYLE4 {
	COLOR: rgb(0,153,0); FONT-WEIGHT: bold
}
.STYLE5 {
	FONT-WEIGHT: bold
}
.STYLE6 {
	COLOR: rgb(255,153,0); FONT-WEIGHT: bold
}
.STYLE7 {
	COLOR: rgb(255,102,255); FONT-WEIGHT: bold
}
.STYLE9 {
	COLOR: #333
}
.pa_kid {
	MARGIN: 13px; WIDTH: 160px; BACKGROUND: #ebebeb; FLOAT: left; HEIGHT: 90px
}
.pa_kid-17 {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; MARGIN: 10px; WIDTH: 160px; BACKGROUND: #ebebeb; FLOAT: left; HEIGHT: 90px; OVERFLOW: hidden; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.kid {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 160px; BACKGROUND: #ffffff; HEIGHT: 90px; OVERFLOW: hidden; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 6px
}
.biao_kid {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 12%; FLOAT: left; HEIGHT: 30px
}
.biao_kid:hover {
	BACKGROUND: #666666
}
#nav {
	MARGIN-TOP: 10px; WIDTH: 100%; MARGIN-LEFT: 15px
}
#nav UL {
	LIST-STYLE-TYPE: decimal
}
#nav LI {
	LINE-HEIGHT: 25px; MARGIN: 5px 0px; WIDTH: 11%; FLOAT: left; HEIGHT: 25px
}
#nav LI A:link {
	COLOR: #0080ff
}
A:visited {
	COLOR: #0080ff
}
.li_div {
	LINE-HEIGHT: 25px; WIDTH: 80px; HEIGHT: 25px
}
.li_div1 {
	LINE-HEIGHT: 25px; WIDTH: 100px; HEIGHT: 25px
}
.li_div A {
	DISPLAY: block
}
.li_div1 A {
	DISPLAY: block
}
.fileset {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; MARGIN: 10px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid
}
.legend {
	COLOR: #3a84c9; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bibeisuoyin_kid {
	MARGIN-TOP: 20px; WIDTH: 145px; FLOAT: left; HEIGHT: 200px; MARGIN-LEFT: 40px;}
.text_ss {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 180px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.tdd {
	BACKGROUND: url(../../img_woshop/xtCAUVB3BI.png)
}
.ztd {
	BACKGROUND: url(../../img_woshop/ztd.png)
}
.ztd1 {
	BACKGROUND: url(../../img_woshop/ztd1.png)
}
.ztd2 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../../img_woshop/info_bg.png); PADDING-TOP: 5px
}

.ss_1 {
	TEXT-ALIGN: right;
	WIDTH: 70px;
	HEIGHT: 24px;
	background-image: url(../../img_woshop/search1.png);
	background-repeat: no-repeat;
}
.ss_2 {
	TEXT-ALIGN: left; WIDTH: 42px; HEIGHT: 24px; background-image: url(../../img_woshop/search-k.png);
	background-repeat: no-repeat;
}
.ss_text {
	BORDER-BOTTOM: medium none; BORDER-LEFT: 0px; MARGIN-LEFT: 4px; MARGIN-REIGET: 4px;MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px; WIDTH: 70px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: 0px
}
.ss_text1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: 0px; MARGIN-LEFT: 4px; MARGIN-REIGET: 4px;MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; WIDTH: 116px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: 0px
}
.gx_1 {
	TEXT-ALIGN: center; WIDTH: 23px; BACKGROUND: url(../../img_woshop/gx_1_01.png) no-repeat; HEIGHT: 24px
}
.gx_2 {
	LINE-HEIGHT: 24px; WIDTH: 67px; BACKGROUND: url(../../img_woshop/gx_1_02.png) no-repeat; HEIGHT: 24px
}
.gx_check {
	MARGIN-TOP: 1px
}
.changshang {
	MARGIN: 20px; WIDTH: 100px; FLOAT: left; HEIGHT: 100px; OVERFLOW: hidden
}
.changshang_img {
	TEXT-ALIGN: center; HEIGHT: 80px
}
.changshang_name {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; HEIGHT: 40px
}
.xinghao {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; MARGIN: 20px; WIDTH: 100px; FLOAT: left; HEIGHT: 170px; OVERFLOW: hidden; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid
}
.xinghao_img {
	TEXT-ALIGN: center; HEIGHT: 130px
}
.xinghao_name {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; HEIGHT: 40px
}
.out {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; MARGIN: 0px auto; WIDTH: 80%; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid
}
.faq_btn1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 80px; BACKGROUND: url(../../img_woshop/tj-2.png) no-repeat; HEIGHT: 25px; COLOR: #ffffff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.faq_btn2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 160px; BACKGROUND: url(../../img_woshop/tj-3.png) no-repeat; HEIGHT: 25px; COLOR: #ffffff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.info_top {
	MARGIN-TOP: 10px; FONT-SIZE: 12px
}
.info_top_left {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.info_top_left_wo {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.info_wo {
	POSITION: absolute; WIDTH: 750px; MARGIN-LEFT: -375px; LEFT: 50%
}
.info_top_right {
	MARGIN-BOTTOM: 10px
}
.info_ewm {
	MARGIN: 0px
}
.info_top_name {
	LINE-HEIGHT: 30px; HEIGHT: 30px; COLOR: #333333; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.info_top_pingxing {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.info_top_jianjie {
	LINE-HEIGHT: 20px
}
.info_mid {
	TEXT-ALIGN: center; MARGIN: 0px; HEIGHT: 320px; FONT-SIZE: 12px; OVERFLOW: auto
}
.info_mid_biao {
	TEXT-ALIGN: left; LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.info_mid IMG {
	MARGIN: 0px 10px; HEIGHT: 98%
}
.info_mid_img {
	MARGIN: 10px; WIDTH: 240px; FLOAT: left; HEIGHT: 320px
}
.info_tj {
	MARGIN: 10px; FONT-SIZE: 12px
}
.info_tj_biao {
	LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.info_bot {
	MARGIN: 0px; FONT-SIZE: 12px
}
.info_pl {
	MARGIN: 0px
}
.info_pl_biao {
	LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.info_pl_kid {
	BORDER-BOTTOM: #d8d8d8 1px solid
}
.info_pl_name {
	LINE-HEIGHT: 20px; HEIGHT: 20px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.info_pl_time {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.info_pl_neirong {
	LINE-HEIGHT: 20px; FONT-SIZE: 12px
}
.info_page {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.info_pj {
	MARGIN: 0px
}
.info_pj_pj {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.info_pj_text {
	TEXT-ALIGN: center
}
.pj_area {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; WIDTH: 900px; HEIGHT: 40px; OVERFLOW: hidden; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid
}
.pj_tijiao {
	TEXT-ALIGN: right; HEIGHT: 30px; MARGIN-RIGHT: 0px
}
.b1 {
	DISPLAY: block; OVERFLOW: hidden
}
.b2 {
	DISPLAY: block; OVERFLOW: hidden
}
.b3 {
	DISPLAY: block; OVERFLOW: hidden
}
.b4 {
	DISPLAY: block; OVERFLOW: hidden
}
.b1b {
	DISPLAY: block; OVERFLOW: hidden
}
.b2b {
	DISPLAY: block; OVERFLOW: hidden
}
.b3b {
	DISPLAY: block; OVERFLOW: hidden
}
.b4b {
	DISPLAY: block; OVERFLOW: hidden
}
.b {
	DISPLAY: block; OVERFLOW: hidden
}
.b1 {
	HEIGHT: 1px
}
.b2 {
	HEIGHT: 1px
}
.b3 {
	HEIGHT: 1px
}
.b1b {
	HEIGHT: 1px
}
.b2b {
	HEIGHT: 1px
}
.b3b {
	HEIGHT: 1px
}
.b2 {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b3 {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b4 {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b2b {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b3b {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b4b {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b {
	BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.b1 {
	BACKGROUND: #ffffff
}
.b2 {
	BACKGROUND: #ffffff
}
.b3 {
	BACKGROUND: #ffffff
}
.b4 {
	BACKGROUND: #ffffff
}
.b1 {
	MARGIN: 0px 5px; BACKGROUND: #999
}
.b1b {
	MARGIN: 0px 5px; BACKGROUND: #999
}
.b2 {
	BORDER-RIGHT-WIDTH: 2px; MARGIN: 0px 3px; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px
}
.b2b {
	BORDER-RIGHT-WIDTH: 2px; MARGIN: 0px 3px; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px
}
.b3 {
	MARGIN: 0px 2px
}
.b3b {
	MARGIN: 0px 2px
}
.b4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.b4b {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.d1 {
	
}
.k {
	
}
UL.dropdown {
	POSITION: relative
}
UL.dropdown LI {
	WIDTH: 100px; FLOAT: left
}
UL.dropdown A:hover {
	COLOR: #000
}
UL.dropdown A:active {
	COLOR: #ffa500
}
UL.dropdown LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; DISPLAY: block
}

UL.dropdown LI.hover {
	POSITION: relative
}
UL.dropdown LI:hover {
	POSITION: relative
}
UL.dropdown LI.hover A {
	
}
UL.dropdown UL {
	POSITION: absolute; WIDTH: 100px; VISIBILITY: hidden; RIGHT: -1px; TOP: 100%
}
UL.dropdown UL LI {
	BORDER-LEFT: #c8c8c8 1px solid; BACKGROUND: #fafafa; FLOAT: none; BORDER-RIGHT: #c8c8c8 1px solid
}
UL.dropdown UL LI A {
	BORDER-BOTTOM: #c8c8c8 1px solid; WIDTH: 100%;
}
.woshop2-left {
	BACKGROUND: url(../../img_woshop/left.png) repeat-y; FONT-SIZE: 12px
}
.woshop2-left-menu1 {
	LINE-HEIGHT: 40px; PADDING-LEFT: 15px; HEIGHT: 40px; COLOR: #000
}
.woshop2-left-menu {
	LINE-HEIGHT: 40px; WIDTH: 198px; HEIGHT: 40px
}
.woshop2-left-menu A {
	PADDING-LEFT: 30px; DISPLAY: block
}
.woshop2-left-menu A:link {
	COLOR: #000
}
.woshop2-left-menu A:visited {
	COLOR: #000
}
.woshop2-left-menu A:hover {
	BACKGROUND: url(../../img_woshop/left-bg.png) no-repeat; COLOR: #fff
}
.woshop2-left-menu2 {
	BACKGROUND: url(../../img_woshop/left-bg.png) no-repeat; COLOR: #fff
}
.woshop2-left-menu2 A:link {
	BACKGROUND: url(../../img_woshop/left-bg.png) no-repeat; COLOR: #fff
}
.woshop2-left-menu2 A:visited {
	BACKGROUND: url(../../img_woshop/left-bg.png) no-repeat; COLOR: #fff
}
.woshop2-left-menu2 A:hover {
	BACKGROUND: url(../../img_woshop/left-bg.png) no-repeat; COLOR: #fff
}
