/**tag*/
/*reset*/

img{border:0;}


/*download button status*/
.tpc{ height:30px; background:url() 0 0 no-repeat #FFFFFF; position:relative; color:#FFFFFF; margin-right:4px; margin-top:0px;}
*html .tpc{
	position:relative;
	background-color: #FFFFFF;
	width:30px;
}

.tpc .hottag{
	display:block;
	width:33px;
	height:23px;
	background:url(../img/rm.png) 0 0 no-repeat;
	position:absolute;
	top:27px;
	left:13px;
	line-height:23px;
	text-indent:3px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .reco{
	display:block;
	width:33px;
	height:23px;
	background:url(../img/tj.png) 0 0 no-repeat;
	position:absolute;
	top:27px;
	left:13px;
	line-height:23px;
	text-indent:3px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc dl{ padding:0px 0 0 0px; height:60px; overflow:hidden;}

