#huodong{font-size:12px; margin:0px; color:#666;  background:url(../img/huodong/bj.jpg) repeat;  }
table{font-size:12px; border-collapse:collapse; margin:0px;}
img{border:0px;}
.clear{clear:both;}

#huodong-containner{width:780px; margin:0 auto;}
#huodong-banner{margin-bottom:20px;}
#huodong-banner img{width:780px;}
#huodong-3g{}
#huodong-3g-l{width:230px; height:210px; border:1px solid #ccc; background:#fff; margin-right:20px; position:relative;}
#huodong-3g-l-t{width:144px; height:70px; background:url(../img/huodong/t-3g.png) no-repeat; position:absolute; top:0; left:0;}
#huodong-3g-l-m{margin-top:80px; }
#huodong-3g-l-m-icon{ margin-right:10px;}
.huodong-3g-l-m-icon img{width:100px; height:100px;}
#huodong-3g-n{line-height:30px; font-weight:bold; font-size:14px; text-align:center; color:#f00; margin-bottom:5px;}
.huodong-3g-btn{width:78px; height:27px; line-height:27px; border:0; color:#fff; background:url(../img/huodong/btn_bg.png) no-repeat;}

#huodong-3g-r{width:530px; height:auto; border:1px solid #ccc; background:#fff;}
#huodong-3g-r-t{height:33px; background:url(../img/huodong/t-bg.png) repeat-x; line-height:33px; padding-left:10px; font-weight:bold; font-size:14px; color:#000;}
#huodong-3g-r-n{padding:20px 7px;}
#huodong-3g-k{width:86px; height:137px; float:left;}
#huodong-3g-k-icon{height:87px;}
#huodong-3g-k-icon img{width:60px; height:60px; margin:27px 13px 0 13px;}
#huodong-3g-k-name{line-height:40px; text-align:center;}